﻿
.resp-tabs-list{
    padding-left: 0;
    margin-bottom: 0;
    margin-top:-30px;
    width: 100%;
    border-top: 1px solid #eae7de;
    border-right: 1px solid #eae7de;
    background-color: #fff;
}

.resp-tab-item{
    display:block;
    float: left;
    padding: 18px 0 19px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #27221f;
    border-left: 1px solid #eae7de;
    border-bottom: 4px solid #eae7de;
    width:20%;
    text-align: center;
    position: relative;
}

.resp-tabs-list li:hover,
.resp-tabs-list li.current{
  
}
.resp-tabs-list li.current a,
.resp-tabs-list li:hover a{color: #fff;}

.resp-tabs-list li:first-child{
    
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
}
h2.resp-accordion {
    cursor: pointer;
    display: none;
}
.resp-tab-content {
    display: none;
    padding: 30px 0 20px;
}
.resp-tab-active {
    border-bottom:4px solid #ea4040;
   
}
.resp-tab-active:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    bottom:-14px;
    left: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #ea4040;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
/*.resp-tab-content {
    
}*/

h2.resp-accordion {
    font-size: 13px;
    line-height: 1.2;
    margin: 0px;
    padding: 15px 10px;
    border-bottom:1px solid #eae7de;
    border-left:1px solid #eae7de;
    border-right:1px solid #eae7de;
}
h2.resp-accordion:hover{
    color: #ea4040;
}
h2.resp-accordion:first-child{
      border-top:1px solid #eae7de;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background-color: #342923;
    color: #fff;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 15px 10px;
}
h2.resp-tab-active + div{
     border-bottom:1px solid #eae7de;
}
.resp-easy-accordion  h2.resp-accordion {
    display: block;
   
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;

}

h2.resp-accordion:first-child {
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
    

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}


