 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative;padding-bottom: 60px;}
/*.flexslider img{min-width: 100%;}*/
.flex-viewport {z-index: 0;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.flexslider .slides_img{
	padding: 0 125px;
	height: 404px;
	line-height: 404px;
}
.flexslider .slides_img img{
	/*height: 100%;*/
	max-width: 100%;
	height: auto;
	width:auto;
	vertical-align: middle;
}
/* Direction Nav */
.flex-direction-nav a {width: 24px; height: 40px; margin-top:-50px; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav .flex-next {background: url(../images/icon/arrow_gray_next.png) 50% 50% no-repeat;right: 0; }
.flex-direction-nav .flex-prev {background: url(../images/icon/arrow_gray_prev.png) 50% 50% no-repeat;left: 0;}
.flexslider:hover .flex-next, .flexslider:hover .flex-prev{opacity: 0.5;}
 
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {}
.flex-direction-nav .disabled {cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -65px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: url('') repeat;cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background-position:0 0;}

.flex-control-thumbs {margin: 5px 0 0;overflow: hidden;z-index:0;border-right: 1px solid #e9e5d0;}
.flex-control-thumbs li {width: 12.5%; float: left; margin: 0;border-top: 1px solid #e9e5d0;border-bottom: 1px solid #e9e5d0;border-left: 1px solid #e9e5d0;
 height: 126px;line-height:126px;overflow: hidden;}

.flex-control-thumbs img {max-width: 100%;width: auto; display:inline-block; cursor: pointer;height: auto;vertical-align: middle;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs img.flex-active{border: 3px solid #ea4040;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}
