/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {

}
.irs {
    position: relative; display: block;
}
.irs {
    height: 30px;
}

.irs-line {
    height: 2px; 
    top: 10px;
    background-color:#00a8ea;
}
    .irs-line-left {
        height: 4px;
        background-color:#efe8da;
    }
    .irs-line-mid {
        height: 4px;
        background-color:#efe8da;
    }
    .irs-line-right {
        height: 4px;
        background-color:#efe8da;
    }
.irs-diapason {
    height: 4px;
    top: 25px;
    background-color:#efe8da;
}
.irs-bar {
    height: 4px;
    top: 10px;
    background-color:#ea4040;
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}
    .irs-bar-edge {
        top: 25px;
        height:2px;
}

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index:101;
    width: 17px; 
    height: 17px;
    border-radius: 100%;
    background-color:#342923;
    top:3px;
}
.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

/*.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}*/

.irs-min, .irs-max {
    font-size: 10px; 
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    bottom: -15px;
    padding: 1px 3px;
    display: none!important;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #3654b0;
}
.irs-from, .irs-to, .irs-single {
    
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #d8dff3;
}
.irs-grid-pol {
    background: #777;
}
.irs-grid-text {
    color: #e0e0e0;
}
.irs-line {
        position: relative; display: block;
        overflow: hidden;
    }

.irs-line-left, .irs-line-mid, .irs-line-right {
     position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 10%;
}
.irs-line-mid {
    left: 9%; width: 82%;
}
.irs-line-right {
    right: 0; width: 10%;
 }

.irs-diapason {
     position: absolute; display: block;
}

 .irs-slider.single {
     left: 10px;
}
.irs-slider.single:before {
     position: absolute; display: block; content: "";
    top: -30%;
    left: -30%;
    width: 11px; 
    height: 11px;
   
}
      
.irs-slider.from:before {
    position: absolute; 
    display: block;
    content: "";
    top: 0;
    left: 0%;
}

.irs-slider.from:before, .irs-slider.to:before{
    width:54px;
    height:22px;
    background-color:transparent;
    border-radius:5px;
}
.irs-slider.to:before {
    position: absolute;
    display: block;
    content: "";
    top: -30%;
    right: 0;
 }
.irs-slider.last {
    z-index: 101;
}

.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}
    .irs-from, .irs-to, .irs-single {
        position: absolute;
        display: none;
        bottom:0; 
        left:0;
        cursor: default;
        white-space: nowrap;
        z-index:100;
        min-width: 11px;
    }
.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: 0;
    width: 100%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.irs-disabled {
    opacity: 0.4;
}


.irs-disabled {
}
