 /*==============RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1200px) {
 body{min-width:995px;}
 	
 	.header_account a{
		padding:19px 0 19px 38px;
		background: url(../images/icon/profile.png) 10px 50% no-repeat;
	}
	.header_wish a{
		padding:19px 0 19px 30px;
		background: url(../images/icon/heart.png) 6px 50% no-repeat;
	}
	.header_basket{
		padding:19px 0 19px 24px;
		background: url(../images/icon/basket.png) 6px 50% no-repeat;
	}
	.header_messadge{
		padding:19px 0 19px 10px;
		font-size: 11px;
		line-height: 2;
	}
	.header_search_btn, .header_search_btn:before{
		width: 45px;
		height: 60px;
	}
  .main_carousel .owl-item > div img{
    height: 450px;
    width:auto;
    max-width: inherit;
  }
	.search_active_btn{width: 45px;}
  input[type="text"].search{
    width:calc(100% - 45px);
  }
	.basket_show{
		right: 55px;
	}
	.basket_show_tb td{
		padding: 5px 10px;
	}
	td.checkout_red a{
		padding: 5px 10px;
	}
	.basket_amt{
		font-size: 11px;
	}
	.menu_lk{
		padding: 19px 22px;
		font-size: 12px;
	}
  .menu_item:last-child a{
    padding: 19px 18px;
  }
  .logo{
    padding: 10px 0;
  }

  .menu_item_show{width: 620px;}

	.video_more_text{
		padding-left: 5px;
		font-size: 14px;
	}
 
	.brend_title.t_ind1{
		margin-bottom: 0;
	}
	.get_discount{
		font-size: 23px;
		top:0px;
	}
	.post_content{padding: 10px;}
	.post{height: 410px;overflow: hidden;}

	h2{
		font-size: 24px;
	}

  h4{
      font-size: 16px;
    }
  h5{
      font-size: 14px;
    }
  
  .visited_title{
    width: 70%;
  }
	.carousel_inner_abs{
		left:80px;
	}
	.p40{
		margin-bottom: 20px;
	}

	.product_add_lk{
		font-size: 11px;
		background: url(../images/icon/basket.png) 10px 50% no-repeat #ea4040;
		
	}
	
    .old_price{
      margin-right: 3px;
    }
    .filter_done .product_item, .wish_list_box .product_item{
      width: 260px;
    }
    
   .product_info_title{
    font-size: 17px;
  }
  .product_reviews{
    margin: 0 6px 0;
  }
  .product_info_price{
    padding-right: 100px;
  }
  .product_buttons_box button{
    width: 45px;
  }
  .product_top{
    padding-bottom: 10px;
  }
  .form_buy .product_info_price, .product_share{
    padding: 10px;
  }
  .main_product_form{
    padding: 10px 10px 45px;
  }
  .flexslider .slides_img{
    padding: 0 80px;
    height: 395px;
  }
  .flex-control-thumbs li {height: 116px;line-height: 116px;}
  .resp-tab-item{font-size: 14px;line-height: 1.2;}
  .records_table td{
    padding: 15px;
  }
  .map_delivery, .map_delivery_state{
    padding: 0 120px 30px 0;
  }
 
  .map_delivery_tultipe{
    top:24%;
    width: 160px;
  }
  .product_review{
    padding: 20px 25px;
  }
  .colors_label:before{width: 14px;height: 14px;margin: 0 4px 0 0;}
  .notavailable .product_add_lk:after{letter-spacing: -1px;}
  .product_share_links a{width: 24px;height: 24px;}
  .product_share_title{font-size: 14px;}
  .product_add_img{height: 190px;line-height: 190px;}
  .arctickmodal_video{
    width: 700px;
    height: 400px;
  }
  .stickyScroll .header_messadge{width: 20%;}
  .stickyScroll .menu_item.categories_item{left:335px;}
  .stickyScroll .headertop_right{margin-left: 118px;width: 46.5%;}
  .stickyScroll .menu_item.categories_item > a{padding: 24px 20px 24px 19px;}
  .account_address_table th.col1{
    width: 25%
  }
  .account_address_table th.col4{
    width: 12%
  }
  .account_address_text{padding-right: 20px;}
  .account_address_box .t_ind8{margin-bottom: 46px;}
  .account_list_item_img{margin: 20px 0;}
  .account_sub h5{margin-bottom: 20px;font-size: 18px;}
  .add_wish_box{position: static;margin-bottom: 24px;}
  .add_wish_bl h4{font-size: 22px;margin-top: 5px;}
  /*---------cart.html--------------*/
  .cart_tb td.col3{padding-right: 40px;}
  .cart_shipping_free{font-size: 16px;}
  .cart_tb .delivery_invalid .cart_messadge{left:-30%;}
  .cart_info_total_to .account_list_item_img{margin: 0;}
  .cart_tb th.col1, .cart_tb td.col1{width: 130px;}
  .cart_name_select{width: 100%;}
  .cart_tb th.col2, .cart_tb td.col2{
    width: 30%;
  }
  .cart_tb td{
    padding: 25px 10px 25px 0;
  }
  .cart_shipping_town{width: 50%;}
  /*------------ordering--------*/
.cart_quantity_select{width: 100%;margin-left: 0;margin-top: 10px;}
.cart_quantity_select > div{width: 100%;}
.ordering_info .account_list_item_img{margin: 0;}

  

}

@media only screen and (max-width: 992px) {
 body{min-width:748px;}

	.menu_lk, .menu_item:last-child a{
		padding: 24px 8px;
		
	}
	.headertop_right{
    	width: calc(75% - 45px);
   	}
  	
   .header_account a{
  		background:url(../images/icon/profile.png) 6px 50% no-repeat;
  	}
  	td.checkout_red:after{
  		left:70%;
  	}
    .filter_done .product_item, .wish_list_box .product_item{
      margin: 10px 8px;
    }
  	.product_item, .product_big_item{
  		padding: 8px;
  	}
  	.old_price,.new_price, .sale_off, .product_price, .total_price{
  		font-size: 13px;
  		letter-spacing: -1.2px;
  	}
    .product_info_price .old_price, .product_info_price .sale_off{
      margin-top: 0;
    }
  	.footer_pages{
  		width: 17%;
  	}
  	.footer_ship, .footer_pay{
  		margin-left: 0;
  	}
  	.owl-pagination{
  		bottom: 45px;
  	}
  	
    .flex-control-thumbs li {height: 96px;line-height: 96px;}
    .flex-control-nav{bottom: -50px;}
    .product_info_price .new_price{
      font-size: 24px;
      line-height: 30px;
    }
  	.product_img{
  		height: 135px;
  	}
  	.menu_item_show{
  		width: 490px;
  	}
  	.submenu_list{
  		width: 120px;
  		padding: 25px 0 14px 15px;
  	}
  	.favorite_box{
  		width: 250px;
  		padding: 28px 10px;
  	}
  	.categories_list{
  		padding: 28px 0 28px 10px;
  	}
  	
  	.carousel_item{
  		padding: 10px;
  	}
  	.categories_lk{
  		font-size: 12px;
  		line-height: 1.1;
  	}
  	.categories_lk:hover:before{
  		top:34%;
  		left:-10px;
  	}
  	.menu_item_show{
  		box-shadow: 0 0 1px 3px rgba(232,232,232, .5);
  		-webkit-box-shadow: 0 0 1px 3px rgba(232,232,232, .5);
  		-moz-box-shadow: 0 0 1px 3px rgba(232,232,232, .5);
  	}
  	
  	.notavailable .add_letme_lk{
      letter-spacing: -1px;
      padding: 5px 0 5px 30px;
    }
 
  .scroll_pane{
    height: 310px;
  }
  .checkout_red:after{left: 70%;}
	.aboutus_box{
		width: 100%;
		padding-top: 30px;
	}
	.get_more{
		margin-bottom: 10px;
	}
	.get_products{
		padding: 30px;
	}

	.advantages_fond, .advantages_paypal{
		width: 90px;
	}
  .notavailable .add_type_lk:after{padding: 5px 0 5px 30px;letter-spacing: -1px;}
  .notavailable .add_type_lk{text-align: left;}
	.aboutus_bl{
		height: 380px;
	}
	
	.get_btn{
		margin-top: 0;
	}
	.advantages_box{
		margin-bottom: 0;
	}

  /*-----account----*/
  .details_lk{
    font-size: 14px;
  }
  .account_carousel_img{
      height: 140px;
      line-height: 140px;
  }
.stickyScroll .headertop_right{width: 32%;}
.stickyScroll .header_messadge{width: 24%;padding: 25px 5px 23px 5px;}	
.stickyScroll .menu_item.categories_item{left:321px;border-right: none;}
.stickyScroll .header_account{display: none;}
.stickyScroll [class*="header_"]{border-right: none!important;}
.stickyScroll .header_wish a{height: 70px;}
.stickyScroll .header_wish .wish_text{display: none;}
.stickyScroll .basket_hover{width: 69%;}
.stickyScroll .menu_item_show{left: -170px;width: 570px;}
.personal_select_box .jq-selectbox{width: 100%;}
.birth_select1{z-index: 3;}
.birth_select2{z-index: 2;}
.birth_select3{z-index: 1;}
.birth_select1, .birth_select2, .birth_select3{
  width: 100%;margin-bottom: 20px;
}
[class*="account_sub_"]{width: 70%;}
/*----------cart_tb--------------*/
.cart_name{padding-left: 10px;float: none;}
.cart_tb td.col3{padding:25px 20px 0 0;}
.cart_tb .delivery_invalid .cart_messadge{left:-150%;top:90%;}
.cart_shipping_free{font-size: 14px;}
.cart_shipping_town{width: 100%;padding:0;}
.delivery_invalid.cart_info_total_shipping .cart_messadge{left:20px;top:75%;letter-spacing: -0.8px;}
.cart_shipping_term{position: absolute;top:30px;right:0;width: 50%;}
.cart_shipping_term span, .cart_shipping_term a{display: inline-block;}
.cart_shipping_term a{padding-left: 5px;}
.cart_info_total_shipping{position: relative;}
.cart_color_select{width: 100%;margin-left: 0;margin-top: 10px;}
.cart_info_total_to .checkout_red a{font-size: 12px;padding: 29px 15px;}

/*----------ordering----------------*/
.ordering_adress_item, .automatically_text, .ordering_box_data .add_address_state{float: none;width: 100%;}
.automatically_text, .ordering_box_data .add_address_state{padding-left: 0;margin-bottom: 20px;}
.ordering_sh{padding-bottom: 30px;}
.select_address .ordering_sh a{left:0;top:30px;right:inherit;}
.ordering_sum > div{float: none;width: 100%;}
.ordering_box .cart_tb td.col2{width: 50%;}
/*------------------after_ordering----------*/
#password_for .login_btn{width: 100%;}
.made_ordering > span:first-child{left:0;}
/*-------map--------*/
.inter_map path{
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#path3725{
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.map_delivery_estimated{top:90%;}
.map_delivery svg{width:100%;height: 400px!important;}


}

@media only screen and (max-width: 767px) {
 body{min-width:480px;}
 #content{
  padding-top: 130px;
 }
 .active#content{
  padding-top: 60px;
 }
 body.show_menu{
  overflow: hidden;
 }
 	.headertop_resp{
 		display: block;
 	}
 	.headertop{
 		background-color: #fff;
    position: relative;
    box-shadow: inset 0 3px 20px #efedec;
    -webkit-box-shadow: inset 0 3px 20px #efedec;
    -moz-box-shadow: inset 0 3px 20px #efedec;
 	}
  .headermiddle {
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

 
  	[class*="header_"]{
  		border-right:none;
  	}
  	 .headertop_left{
    	width: 100%;
    	float: none;
    }
    .headertop_right{
    	width: calc(100% - 45px);
    }
  	.header_phone{
  		display: none;
  	}
  	.header_messadge{
  		display: none;
  	}
  	.header_account{
  		width: 27%;
  	}
  	.basket_hover{
  		width: 29%;
  		float: right;
  	}
  		.basket_show{
  			right:0;
  			left:0;
        top:70px;
  		}
  			.header_basket {
			    padding:28px 0 28px 24px;
			    background: url(../images/icon/basket_black.png) 6px 50% no-repeat;
			    color: #27221f;
			}
  		.basket_show_tb td, td.checkout_red a{
  			font-size: 12px;
  		}
  .search_show{
    top:0;height: 72px;
    background-color: #4b3e38;
    padding: 20px 10px;
    left:-5px;
    right:-5px;
    width:auto;
  }
  .product_item_hover{display: none;}
  input[type="text"].search{background-color:none;}
  input[type="text"].search{padding: 0 0 0 40px;height: 20px;}
  .search_active_btn{float:none;position: absolute;top:10px;left:10px;background-color:transparent;height: 40px;}
  .search_resp_close{display: block;}
	.header_search_btn:hover, .basket_hover:hover .header_basket, .header_wish:hover{
     background-color:transparent;
  	}
  	.header_account, .basket_hover, .header_wish{
  		font-size: 13px;
  		line-height: 1.2;

  	}
  	.show_nav_btn{
  		display: block;
  	}
   header{position:fixed;top:0;left:0;right:0;z-index: 120;}
    .menu_main{
      top: 130px;
      bottom: 0;
      width:auto;
      left:-5px;
      right:-5px;
      background: #fff;
      position:fixed;
      z-index: 12;
      float: none;
      -moz-transform: translateX(0) translateY(1000px);
      -webkit-transform: translateX(0) translateY(1000px);
      -o-transform: translateX(0) translateY(1000px);
      -ms-transform: translateX(0) translateY(1000px);
      transform: translateX(0) translateY(1000px);
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
      opacity: 0;
      visibility: hidden;
    }

   .show_menu .menu_main{
    
      -moz-transform: translateX(0) translateY(0);
      -webkit-transform: translateX(0) translateY(0);
      -o-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
      opacity: 1;
      visibility: visible;
     }
     .active .menu_main{
      top:70px!important;
     }
    .menu_closed{
      display: block;
    }
    .menu{
      max-height: 100%;
      overflow: auto;
      box-shadow:none;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
    }
      .menu_item{
        float: none;
        border-right:none;
        border-bottom:1px solid #e9e9e9;
      }
      .categories_item:hover .menu_item_show{
        display: none;
      }
      .account_item{
        display: block;
      }
      .menu_lk:hover{
        background-color: transparent;
        color: #000;
      }
      .menu_lk:hover .menu_item_trg{
        border-top: 6px solid #ea4040;
      }
      .current.menu_item .menu_lk{
        background-color:#ea4040;
        color: #fff;
      }
      .account_item a:hover{
        color: #fff;
      }
      .account_item a{
        color: #fff;
        background: url(../images/icon/profile.png) 96% 50% no-repeat #342923;

      }
      .blog_item{
        display: none;
      }
        .menu_lk{
          padding: 24px 10px;
          font-size: 14px;
          font-weight: 700;
        }
        .menu_lk.al_center{
          text-align: left;
        }
    .categories_show, .menu_item_show, .submenu_lk:hover:before, .active.submenu_lk:before{
      display: none;
    }
        .menu_item_trg{
          left:96%;
          top:50%;
        }
    
      .active.menu_item_show {
        display: block!important;
        width: 100%;
        position: static;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    .submenu_list{
      padding-left:20px;
      width: 100%;
      border-right:none;
    }
    .categories_lk{
      font-size: inherit;
      line-height: inherit;
    }
    .carousel_item{
      margin-top: 10px;
    }
    .favorite_box{
      display: none;
      /*width: 250px;
      padding: 10px;*/
    }
  	.header_account{
  		display: none;
  	}
  	.header_wish{
  		width: 36px;
  	}
  	.header_wish a{
  		height: 70px;
  		padding: 0;
  		background: url(../images/icon/heart_black.png) 50% 50% no-repeat;
  	}
  	.wish_text{
  		display: none;
  	}
   
    .header_search_btn{
      height: 70px;
    	background: url(../images/icon/search_black.png) 50% 50% no-repeat;
    	border-right: none!important;
    }
    .active.header_search_btn{
      background: url(../images/icon/search_black.png) 50% 50% no-repeat;
    }
    .header_search_btn:before, .active.header_search_btn:before{
      display: none;
    }
  	.logo_resp{
  		display: block;
  	}
  	.logo{
  		display: none;
  	}
  	.checkout_red:after{
  		left:80%;
  	}
    .active.basket_show_inner{
      display: none;
    }
  
  	.ml10{margin-left: 0;}
	.product_big_item{
		margin-right: 0;
	}

  .owl-next, .owl-prev{
    width: 14px;
    height: 20px;
    background-size: contain;
    margin-top: -10px;
  }
  .owl-next{right:40px;}
  .owl-prev{left:40px;}
  .scroll_pane{height: 286px;}
  .product_img{height: 150px;}
  .product_big_item .product_name{padding-top: 10px;}
  .product_big_item{height:auto;border-bottom:none;}
  .popular_bl .product_item:nth-child(even), .new_bl .product_item:nth-child(even){border-right:1px solid #e9e5d0;} 
  .popular_lk{margin:0 0 7px 0;display:inline-block;float: none;}
  .popular_title{display:block;float: none;}

  .product_question{width: 100%;line-height: 20px;margin-bottom: 10px;}
  .product_question_btn{width: 50%;}
  .aboutus_box .p23, .aboutus_box .p20{
    margin-bottom: 30px;
  }
  .p23, .p20{margin-bottom: 10px;}
	.mr10, .mr_10{
		margin-right: 0;
	}
	.ml28{margin-left: 0;}
	.video_box{
		margin-bottom: 2px;
    height: 320px;
	}
  .aboutus_bl{
    background: none;
  }
  .aboutus_bl .h100{
    height: auto;
  }
  .aboutus_box{
    background: url(../images/bg_aboutus.jpg) 0 50% no-repeat;
    background-size: cover;
    padding: 97px 30px 118px 15px;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }

  .video_box iframe{height: 320px;}
  .video_popap_link{height: 160px;}
  .video_popap{line-height: 160px;}
  .product_item{height: auto;}
	.product_big_item, .product_item:nth-child(even){
    	border-right: 1px solid #e9e5d0;
	}
 
  .new_bl .br_bt, .popular_bl .br_bt{border-bottom: none;}
  .third_bl .br_bt:last-child, .popular_bl .br_bt:last-child{border-bottom:1px solid #e9e5d0;}
  h3{font-size: 20px;}
  	.get_products{
  		height: 500px;
      width: auto;
      margin: 0 -15px 0 -15px;
      padding: 0;
  	}
    .get_products:before{
      background: url(../images/gets_bl_resp.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
    .get_products_box{
      top:16%;
      left:10px;
    }
    .get_products_box h3{
      font-size: 24px;
    }
  	.carousel_title.t_ind1{
  		margin-bottom: 10px;
  	}
  	.aboutus_bl{
		  height: 1020px;
	 }
	.t_ind1, .t_ind2, .t_ind4, .t_ind5, .t_ind6, .t_ind7, .t_ind8{margin-bottom: 10px;}
	.post_img img{
		width: 100%;
	}
	.post{
		margin-bottom: 10px;
		height: auto;
	}
  .carousel_item_vis{height: 350px;}

  	.categories_footer_box.col-xs-12{
  		width: 50%;
  	}
    .col-xs-12{float: none;} 
    
    .get_discount{top:4px;left:60px;}
    .advantages_bl .p0{margin-bottom: 20px!important;}
    .brend_bl{padding: 40px 0 20px;}
    footer{padding: 20px 0;}
    footer h3{font-size: 16px;}
    .footer_bottom{padding-top: 20px;}
    .footer_follow{width: 100%;float: none;position: relative;}
    .footer_list_30, .footer_list_56{padding-left: 0;}
    .footer_item{float: none;}
    .footer_logo a{width: 135px;height:30px;background-size: contain;}
    .footer_follow_box div{width: 33%;}
    .footer_follow_box span{min-height: 50px;}
    .footer_contacts{position: absolute;top:76%;right: 0; width:70%;letter-spacing: -0.5px;}
    .footer_contacts span:last-child{margin-top: -9px;}
    .footer_contacts span{font-size: 12px;line-height: 1.1;}
    .followus_box a{width: 22px;height: 22px;}
    .footer_pages{width: 40%;margin-left: 0;padding-top: 20px;}
    .footer_ship{width: 20%;padding-top: 20px;}
    .footer_pay{width: 30%;padding-top: 20px;}
    .footer_security_bl{padding-top: 20px;}
    .footer_security_bl a{width: 60px;}
    .footer_follow_box{margin-bottom: 0;}
    .footer_pay  >div > a{width: 40px;}
    .footer_ship_first a{width: 40px;}
    .footer_ship_last a{width: 84px;}
    .followus_title{margin-bottom: 5px;}
    .categories_footer_resp{display: block;}
    
    
    /*----product-----*/
    .product_info{padding: 20px 0 0;}
    .flexslider .slides_img{
      padding: 0 40px;
      height: 320px;
      line-height: 320px;
    }
    .slides .video_box{height: 320px;}
    .product_info_name, .product_info_price{float: none;width: 100%;text-align: left;}
    .product_info_price{margin-top: 10px}
    .flexslider{padding-bottom: 30px;}
    .flex-control-nav{bottom: -65px;}
    .product_advantage_bl{
      padding: 70px 0 0;
    }
    .advantages_type{height: auto;}
    .advantages_categ{height: 70px;}

    .form_buy .product_info_price, .product_share{padding: 10px 30px;}
    .main_product_form{padding: 10px 30px 45px;}
    .records_table td{padding: 8px;}
    .resp-tab-active:after{display: none;}
    .resp-tab-content{padding: 10px 0;}
    .tabs{padding: 10px 0;}
    .flex-direction-nav a{
      width: 14px;
      height: 20px;
      
      margin-top: -10px;
    }
    .flex-direction-nav .flex-prev{left: 0;background-size: contain;}
    .flexslider:hover .flex-next {right: 4px;}
    .flexslider:hover .flex-prev {left: 4px;}
    .flex-direction-nav .flex-next{right: 0;background-size: contain;}
    .arctickmodal_video{width: 500px;height: 300px;}
    .carousel_inner_abs{top:80px;}
    .map_delivery, .map_delivery_state{padding: 0 140px 40px 0;}
    .map_delivery_estimated{letter-spacing: -0.8px;}
    .tabs_specification .video_big{height: auto;}
    /*-----catalog----------*/
    .filter_list{padding-bottom: 100px;}
    .catalog_filter_left{position: relative;}
    .view_filter_btn{position: absolute;bottom: 0;width:100%;}
    .catalog_filter_main{margin-top: 20px;}
    .jq-selectbox__select{height: 30px;}
    .jq-selectbox__select-text{line-height: 30px;}
    .jq-selectbox__select{font:12px/16px Arial, sans-serif;}
    .filter_right_box_top{height: 32px;}
    .filter_sort_box{height: 30px;}
    .filter_sort_lk{padding: 4px 35px 4px 25px;}
    .filter_sort_lk:after{left:76%;}
    .filter_done .product_item, .wish_list_box .product_item{width: 45.5%;}
    .filter_done .product_img, .wish_list_box .product_img, .carousel_img_fg{height: 230px;line-height: 230px;}
    .filter_right_box_2{font-size: 12px;line-height: 1.1;padding: 9px 3px 9px 0;}
    .catalog_written_txt{padding-bottom: 0;}
    .filter_right_box_2 a{padding: 0;}
    .breadcrumbs{margin-top: 15px;}
    .after_carousel_text{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .filter_show_to h6{margin-bottom: 10px;}
    .filter_show_to{padding: 10px 28px;}
    .range_box input[type="text"]{padding: 5px;line-height: 16px;}
    .range_box_to{padding: 5px 0;}
    .carousel_top_buttons .owl-buttons{top:-42px;}
    /*-----blog-----*/
    .blog_full_resp{
      display: block;
      position: absolute;
      right:0;
      width: 110px;
      height: 225px;
      top:0;
      background: url(../images/full_banner_resp.jpg) 0 0 no-repeat;
      background-size: cover;
      margin-bottom: 41px;
    }
    .blog_full_resp img{
     display: none;
    }
    .blog_top_inner{
      padding-right: 120px;
    }
    .full_banner_lk{
      position: absolute;
      left: 0;
      bottom: -46px;
      width: 100%;
      padding:12px 10px;
      font-size: 10px;
    }
    .resp_closed{
      display: none;
    }
    .product_review_btn{
      padding: 10px 15px;
      width: auto;
    }
    .full_pag_left, .full_pag_right{width: 48%;}
    /*-----account-----*/
    .account_list{width:70%;}
    .account_bl{
      margin-bottom: 20px;
    }
    .info_box_personal, .personal_password{
      width: 100%;
      float: none;
    }
    .info_box_personal{
      border-right:none;
    }
    .info_box_date:last-child{
      border-bottom: 1px dashed #e3e3e3;
    }
    .personal_password, .info_box_date, .info_date_for{
      padding: 15px 22px 10px 0;
    }
    .account_list_item_img{margin: 0 20px;}

  /*-----popup------------*/
  #register, #congratulations, #thanks, #aftersocial, #registration, #great{width: 600px;}
  #thanks .login_btn, .comlete_btn, #aftersocial .login_btn{width: 100%;}
  .comlete_btn{border-left:2px dashed #e9e5d0!important;}
  #thanks .login_btn, .thanks_box .p44{margin-bottom: 10px;}
  .congratulations_box_right a{margin-bottom: 30px;}
  /*---------acccount----------*/
  .account_address_table th.col2{
    width: 30%;
  }
  .account_address_table th.col4{
    width: 17%;
  }
  .add_address_btn, .you_can_add{
    float: none;
  }  
  .you_can_add {width: 100%;}
  .address_add{top:135px;}
  .account_address_table th{display: none;}
  .account_address_table td{
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  [class*="youcan_lk_"]{
    width: 50%;
    margin-bottom: 10px;
  }
  /*-----------------cart.html-------------*/
  .cart_tb{border-collapse: collapse;width: 100%;}
  .cart_tb tr{border-bottom: 1px solid #e3e3e3;display: block;position: relative;margin-bottom: 20px;}
  .cart_tb th{display: none;}
  .cart_tb td{border-top: none;border-bottom: none;position: relative;}
  .cart_tb td, .cart_tb td.col2{display: block;width: 100%;padding: 45px 10px 5px;}
  .cart_tb td.delivery_invalid{padding: 35px 10px 25px!important;}
  .cart_tb td.col3{padding: 35px 10px 5px;}
  .cart_tb td.col1{border-left: none;border-right: none;padding: 45px 10px 5px;text-align: left;}

  .cart_name{float: none;padding-left: 0;}
  .cart_tb td.last_col{border-left:none;border-right:none;position: absolute;width: 20px;height: 20px;top:20px;right:20px;}
  .cart_info, .cart_info_total{float: none;width: 100%;}
  .cart_info{margin-bottom: 20px;}
  .cart_info_total_sum{height: 80px;}
  .cart_info_total_sum > div{line-height: 80px;}
  .delivery_invalid.cart_info_total_shipping{padding: 20px 20px 52px;}
  .cart_tb td:after{position: absolute;left:10px;top:10px;color: #c5bcb7;display: block;}
  .cart_tb td.col1:after{content: "Product Name & Details";}
  .cart_tb td.col2:after{content: "Product description";}
  .cart_tb td.col3:after{content: "Quantity";}
  .cart_tb td.col4:after{content: "Price";}
  .cart_tb td.col5:after{content: "Subtotal";}
  .cart_tb .delivery_invalid .cart_messadge{top:85px;left:60px;width: 90%;}
  .delivery_invalid.cart_info_total_shipping .cart_messadge{width: 90%;}
  .new_price, .old_price, .sale_off, .total_price{padding-right: 10px;font-size: 14px;}
  .cart_tb .sale_off{display: inline-block;}
  .cart_top_box .popular_lk{float: right;margin: 0;}
  .cart_top_box_inner span:first-child{margin-bottom: 10px;}
  .cart_color_select{width: 100%;margin: 10px 0 0 0;}
  .cart_info_item_learn:hover:after, .cart_info_item_discount:hover:after, .cart_info_item_question:hover:after{display: none;}
  .cart_info_total_to .checkout_red a{font-size: 14px;padding: 29px 40px;}
    /*--------------ordering---------------*/
  [class*="ordering_box_step"], .ordering_box, .ordering_rg, .ordering_can{
    float: none;
    width: 100%;
  }
  [class*="ordering_box_step"]{border-right: none;}
  .ordering_box .cart_tb td.col2, .ordering_box .cart_tb td.col1{
    width: 100%;
  }
  .ordering_box .cart_tb td.col3{
    padding: 0;
  }
  .ordering_box .cart_tb td.col3:after{
    display: none;
  }
  .ordering_box .cart_tb td.col1{padding: 35px 0 10px;}
  .ordering_sum_sp{padding-bottom: 10px;}
  .ordering_sh a{top:0;}
/*-------------------after_ordering--------------*/
.ordering_rg, .ordering_can{padding: 20px 0;border-left:none;border-right: none;}
#password_for .login_btn{width: 240px;}
.cart_tb td, .cart_tb td.col1{width: 100%;}
.made_ordering_box > div{margin-bottom: 10px;}
#ordering_top_tb td{display:inline-block;width: 50%;}
.made_ordering_box .ordering_sum{margin-top: 10px;}
.cart_tb td.col3.subtotal{padding: 0 10px 5px;text-align: left;border-right: none;}
.cart_tb td.col3.subtotal:after{display: none;}
.personal_select_box .jq-selectbox__select, .cart_tb .jq-selectbox__select, .cart_shipping_town .jq-selectbox__select{margin-right: 0;}
.personal_select_box .jq-selectbox__select-text, .cart_tb .jq-selectbox__select-text,
 .cart_shipping_town .jq-selectbox__select-text, .add_address_state .jq-selectbox__select-text{padding-right: 0;padding-left: 10px;text-align: left;}
/*----------map--------------*/
.inter_map path{
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
#path3725{
  -moz-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
}
.map_delivery_tultipe{top:30%;}
.map_delivery svg{height: 350px!important;}

}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
  .submenu_list{padding-bottom: 10px;}
  .submenu_list, .favorite_box{float: none;}
  .favorite_box{width: 280px;border-top: 1px solid #e9e9e9;}
  .categories_footer_box.col-xs-12{
  		width: 100%;
  	}
    .show_nav_btn{margin-right: 25%;}
    .basket_hover{width: 45%;}
    .basket_show{left:0;}
    .scroll_pane{
      height: 330px;
    }
    .aboutus_box{padding: 80px 30px 68px 15px;}
    .main_carousel .owl-controls{position: relative;bottom: 45px;}
    .carousel_inner_abs{left:30px;width: 80%;}
    .owl-next, .owl-prev{margin-top: 0;}
    .owl-next{right:25%;}
    .owl-prev{left:25%;}
    .owl-pagination{bottom: 0;}
 
    .w50{width: 100%;}
    .get_products_box{height: auto;padding: 10px;width: 100%;left:0;}
    .popular_bl .product_item:nth-child(odd), .new_bl .product_item:nth-child(odd){border-right:1px solid #e9e5d0;} 
    .third_bl .product_img{height: 150px;}
    .third_bl .product_item{height:auto;}
    .account_item a{
      background: url(../images/icon/profile.png) 93% 50% no-repeat #342923;
    }
    .account_item:hover a{
      background: url(../images/icon/profile.png) 93% 50% no-repeat #000;
    }
    .video_box{
      margin-bottom: 2px;
        height: 220px;
    }
    .menu_item_trg{left:90%;}

    .video_box iframe{height: 220px;}
    .video_popap_link{height: 110px;}
    .video_popap{line-height: 110px;}
    .video_popap_text span{font-size: 10px;line-height: 1.23;}
    .video_more_text{font-size: 12px;}
    .tabs_description .video_big{height: 200px;margin-bottom: 10px;}
    .product_review{padding: 10px;}
    .product_question_btn, .modal_question_btn{width: 100%;}
    .map_delivery{padding: 0;}
    .map_delivery_estimated{top:80%;}
    .map_delivery_tultipe{top:60%;width: 160px;}
    .map_delivery_for{font-size: 11px;line-height:12px;padding-bottom: 5px;}
    .map_delivery_west, .map_delivery_east{font-size: 11px;line-height: 12px;}
    .map_delivery_west:before, .map_delivery_east:before{margin-right: 3px;}
    .map_tultipe{top:5%;right:10%;left:10px;}
    .post_content{padding: 10px 10px 0;}
    .flexslider .slides_img{padding: 0 20px;}
    .basket_show_tb tr{border-bottom: 1px solid #e9e9e9;}
    .basket_show_tb th{display: none;}
    .basket_show_tb td{display: block;padding: 3px 10px;text-align: left;width: 100%;border-bottom:none;}
    .checkout_red a{font-size: 9px;line-height:30px;padding:10px 5px;}
    .total_sum_tb th{padding: 10px;}
    .total_sum_tb .col1{width: 1%;}
    .total_sum_tb .col2{width: 66%;}
   
   /*-----product---*/
    .flexslider .slides_img{
      height: 180px;
      line-height: 180px;
    }
    .flex-control-thumbs li {height: 70px;line-height: 70px;}
    .flex-control-nav{bottom: -40px;}
    .slides .video_box{
      height: 180px;
    }
   
    /*-----blog-----*/
    .blog_top .post_pubdate{float: none;margin-bottom: 10px;}
    .blog_top_inner, .blog_full_text, .comment_box{padding: 10px;}
    .blog_full_resp{display: none;}
    .blog_top_inner p{font-size: 12px;}
    .footer_follow_box{display: none;}
    .footer_follow_box div{width: 100%;float: none;}
    .footer_follow_box span {min-height: 40px;padding-top: 10px;}
    .footer_contacts{position: static;width: 70%;}
    .footer_ship{width: 60%;}
    .footer_pages, .footer_ship, .footer_pay{float: none;width: 100%;}
    .product_big_img {text-align: center;height: 240px;line-height: 240px;}
    .jq-selectbox__select{padding: 0 5px 0 5px;}
    .filter_sort_lk{padding: 0 25px 0 5px;}
    .filter_sort_lk:after{right:10px;}
    .filter_right_select.one{width: 55px;}
    .filter_right_select.second{width: 60px;}
    .filter_right_select.third{width: 70px;}
    .filter_done .product_item, .wish_list_box .product_item{width:calc(100% - 20px);}
    .jq-selectbox__select, .filter_sort_lk{font: 10px/14px Arial, sans-serif;line-height: 30px;}
    .jq-selectbox__trigger{width: 24px;}
    .filter_done .product_img{text-align: center;}
    .arcticmodal-container_i2{padding: 0;}
    .arctickmodal_video{width: 100%;height: 200px;}
    .footer_follow{display: none;}
    .footer_follow_resp{display: block;padding-top: 20px;}
    .footer_contacts span:last-child{margin-top: 0;}
    /*---account----*/
    .account_list{width:100%;}
    .account_table{width: 540px;}
    .account_table_overflow{overflow: auto;margin-bottom: 20px;}
    .account_table tr{position: relative;}
      .account_table td{
        padding: 20px 0;
      }
        .account_views_status:after{
          content: "";
          display: block;
          position: absolute;
          margin-top: -20px;
          left:86%;
          width: 30px;
          height: 20px;
          background: url(../images/icon/arrow_right.png) 50% 50% no-repeat #fff;
          background-size: contain;
          opacity: 0.8;
        }
    
  .account_carousel_item{float: none;width: 100%;height: 280px;padding: 10px;}
  .views_data_item{float: none;width: 100%;height: auto;}
  .views_data_item span{display: inline-block;margin-left: 10px;}
  .account_address, .account_product{
    padding: 10px;
  }
  #registration{
    width: 300px;
  }
  input[type="text"], textarea{
    padding: 5px 10px;
  }
  textarea{
    height: 160px;
  }
  .registration_form{
    text-align: left;
   
  }
  .registration_for a{
    line-height: 23px;
  }
  .login_btn{
    width: 100%;
  }
  .registration_soc_box a{
    margin-left: 5px;
  }
  .product_question_show{width: 320px;left:-320px;height: auto;}
  .registration_easy{padding: 10px;}
  #register, #congratulations, #thanks, #aftersocial, #newpassword, #sended, #email, #registration, #great, #billing, #shipping{width: 300px;}
  .register_box_left, .congratulations_box_left{width: 100%;float: none;}
  .congratulations_box_inner{width: 100%;padding: 25px 10px 5px;}
  .register_box_right, .congratulations_box_right{width: 100%;position: static;}
  .registration_soc_box, .register_soc_box, .congratulations_box_right{padding: 30px 10px;}
  .register_box_right, .registration_box, .great_box{padding: 20px 10px;}
  #billing .registration_box, #shipping .registration_box{padding: 40px 10px 20px;}
  .great_box_type{width: 100%;}
  .great_box_type:first-child{padding-bottom: 10px;}
  [class*="register_lk_"]{margin-bottom: 10px;padding-top: 60px;}
  .comodo_box{line-height: 20px;}
  #aftersocial .login_btn{font-size: 10px;margin-bottom: 0;}
  .thanks_box_btn{margin-bottom: 0;}
  .cong_box {padding: 20px 10px;}
  /*-----account-----*/
  .info_date_for button{
    width: 100%;
    margin-left: 0;
  }
  .address_add{top:160px;padding: 10px;}
  .account_sub button{
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }
  [class*="account_sub_"]{width: 100%;}
  [class*="youcan_lk_"]{padding: 0 10px;}
  /*--------------cart---------------*/
  .cart_shipping_term{
    position: static;
    margin-top: 10px;
    text-align: left;
    width: 100%;
  }
  .cart_messadge{
    width: 240px;
  }
  .cart_tb td.delivery_invalid{
    padding: 35px 10px 45px!important;
  }

  .cart_info_total_to .checkout_red a{
    font-size: 14px;
    padding: 20px 40px;
  }
    .cart_info_total .checkout_red:after{
      left: 80%;
    }
/*------------------ordering-------------*/
  .ordering_sh a{top:30px!important;left:0!important;right:inherit!important;}
  .ordering_box h3{margin-bottom: 40px;}
  .ordering_box{padding: 10px 0;}
  .total_price_title{left:0;top:50px;}
  .personal_select_box >.birth_select1, .personal_select_box >.birth_select2, .personal_select_box >.birth_select3{
      width:100%;
  }
 
/*----------map--------------*/
.inter_map path{
  -moz-transform: scale(0.45);
  -webkit-transform: scale(0.45);
  -o-transform: scale(0.45);
  -ms-transform: scale(0.45);
  transform: scale(0.45);
}
#path3725{
  -moz-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}

}