@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/flexslider.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/jquery.formstyler.css";
@import "../css/easy-responsive-tabs.css";
@import "../css/ion.rangeSlider.css";
@import "../css/style_alex.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic-ext);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height:22px;
  color:#27221f;
  min-width:960px;
  background-color:#fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#27221f;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  text-decoration:none;
}

button[class*="_btn"],
a[class*="_btn"]{
  display: inline-block;
  cursor: pointer;
  border:none;
  outline: none;
}
.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.reg_none{text-transform: none!important;}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}
.it{font-style:italic}
.let{letter-spacing:-1px}
.bold{font-weight: 700!important;}
.mbold{font-weight: 500!important;}
.sbold{font-weight: 600!important;}
.light{font-weight: 300!important;}
.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}
.h100{height: 100%;}
.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_inb{display: inline;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.orange{
  color: #f7ab18;
}
.red{color: #ea4040!important;}
.white{color: #fff;}
.green{color:#a7a38c;}
.green2{color:#aeaa95;}
.gray{color: #9e9691;}

.bg_white{
  background-color:#fff;
}
.bg_red{
  background-color:#ea4040;
}
.bg_gray{
  background-color:#f4f2e9;
}
.bg_gray2{
  background-color: #9e9691;
}
.bg_gray3{
  background-color: #f6f4e9;
}
.bg_gray4{
  background-color: #f8f8f8;
}

.bg_blue{
  background-color:#3e9adb;
}

/*======================> Header <======================*/

header {}
.headertop{
  background: #342923;
  color: #fff;
} 
.headertop_resp{
  display: none;
  background: url(../images/bg_headertop_resp.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 60px;

}
  .headertop_resp_box{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
   }
    

    .headertop_resp_close,  .search_resp_close{
      width: 16px;
      height: 16px;
      background:url(../images/icon/headertop_resp_close.png) 0 0 no-repeat;
      cursor: pointer;
    }
    .headertop_resp_close{
     float: right;
    }
    .search_resp_close{
      position: absolute;
      top:50%;
      right:20px;
      display: none;
      margin-top: -10px;
    }
  .headertop_right{
    width:calc(75% - 60px);
  }
  
  [class*="header_"]{
   border-right:1px solid #000;
  }
  
  .header_messadge{
    width: 25%;
    background: #f7ab18;
    padding:20px 0 18px 20px;
    border-right:none;
  }
  .header_phone{
    width: 31%;
    padding:20px 0 18px 45px;
    background: url(../images/icon/phone.png) 19px 53% no-repeat;
  }
  .header_account:hover,
  .header_wish:hover, .header_basket:hover,
  .header_search_btn:hover, .basket_hover:hover .header_basket{
     background-color:#4b3e38;
  }
  .header_account{
    width: 23.6%;
  }
  .header_account a{
    display: block;
    padding: 20px 0 18px 58px;
    background: url(../images/icon/profile.png) 31px 50% no-repeat;
  }
    .header_account a, .header_wish a{
      color: #fff;
    }
  .header_wish{
    width: 21.6%;
  }
     .header_wish a{
        display: block;
       background: url(../images/icon/heart.png) 30px 50% no-repeat;
        padding: 20px 0 18px 58px;
     }
  .basket_hover{
    width: 23.8%;
  }
    .header_basket{
      padding:20px 0 18px 50px;
      display: block;
      background: url(../images/icon/basket.png) 29px 50% no-repeat;
      color:#fff;
    }

  
  .active.basket_show_inner{
    display: block;
  } 
  .basket_amt{
      display: inline-block;
      margin-top: -12px;
      margin-left: 2px;
    }
  .basket_show{
    position: absolute;
    top:100%;
    right: 70px;
    left:50px;
    z-index: 111;
  }
  .basket_show_inner{
    display: none;
    width: 100%;
    box-shadow: 0 1px 10px rgba(125, 125, 125, 0.5);
    -webkit-box-shadow: 0 1px 10px rgba(125, 125, 125, 0.5);
    -moz-box-shadow: 0 1px 10px rgba(125, 125, 125, 0.5);
    background: #fff;
  }
  /*-----scroll_pane-------*/

  .scroll_pane{
    height: 400px;
    width:100%;
    overflow: auto;
  }

  .scroll_pane_inner{
    margin-right: -10px;
  }

  .jspContainer{
  overflow: hidden;
  position: relative;
}

.jspPane{
  position: absolute;
  left:0;
  right:20px;
}

.jspVerticalBar{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background:#e9e9e9;
}

.jspHorizontalBar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.jspVerticalBar *,
.jspHorizontalBar *{
  margin: 0;
  padding: 0;
}

.jspCapTop, .jspCapBottom{
  height: 20px;
  position: relative;
}

.jspCap:before, .jspCapBottom:before{
  content: "";
  position: absolute;
  top:50%;
  margin-top:-8px;
  left:50%;
  margin-left: -5px;
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid black;
}
.jspCapBottom:before{
  bottom:50%;
  margin-top:-2px;
  border: 5px solid transparent;
  border-top: 5px solid black;
}
.jspHorizontalBar .jspCap{
  float: left;
}

.jspTrack{
  background: #e9e9e9;
  position: relative;
}

.jspDrag{ 
    background: #c8c8c8;
  position: relative;
  left: 0;
  cursor: pointer;
}

.jspDrag:before{
  content: "";
  position: absolute;
  top:50%;
  margin-top:-6px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 12px;
  background: url(../images/icon/dags_bg.png) 0 0 no-repeat;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
  float: left;
  height: 100%;
}

.jspArrow{
  background: url(../images/flex-direction-nav.png) 12px 0 no-repeat;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrowRight{
  background-position: -15px 0;
}

.jspVerticalBar .jspArrow{
  height: 16px;
}

.jspHorizontalBar .jspArrow{
  width: 30px;
  float: left;
  height: 10px;
}

.jspVerticalBar .jspArrow:focus{
  outline: none;
}

.jspCorner{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/*-----end scrollpane------*/
    .basket_show_tb{
      width:100%;
    
    }
    .basket_show_tb th{
      background:#4b3e38;
      color:#fff;
      text-transform: uppercase;
      padding: 25px 5px;
      text-align: center;
      font-weight: 400;
    }
    .basket_show_tb th.col1{
      width: 23%;
    }
    .basket_show_tb th.col2{
      width: 45%;

    }

    .basket_show_tb th.col3{
      width: 14%;
    }
    .basket_show_tb th.col4{
      width: 18%;
    }
    .basket_show_tb td{
      border-bottom:1px solid #e9e5d0;
      font-size: 15px;
      font-weight: 600;
      color: #27221f;
      padding:10px 15px;
      vertical-align: middle;
      text-align: center;
      position: relative;
    }
    .basket_show_tb td:after{
      content: "";
      display: block;
      width: 3px;
      background: url(../images/icon/border_tb.png) 0 0 repeat-y;
      right:0;
      top:0;
      position:absolute;
      height: 100%;
    }
    .checkout_red{
      position: relative;
      background: #ea4040;
    }
   
    
      .checkout_red a{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 29px 17px 28px;
        display: block;
      }
      .checkout_red:after{
        content: "";
        position: absolute;
        left: 51%;
        top:50%;
        margin-top: -7px;
        width: 14px;
        height: 14px;
        background: url(../images/icon/arrow_big.png) 0 0 no-repeat;
      }
  .basket_name_tb{
      text-align: left!important;
  }
  .total_sum_tb .basket_name_tb{
      padding: 0!important;
    }
  .total_sum_tb th{
    padding: 28px 15px;
    color: #27221f;
   
  }
  .total_sum_tb{
    width: 100%;
  }
  .total_sum_tb .col1{
    width: 22.5%;
  }
  .total_sum_tb .col2{
    width: 44.4%;
  }
  .total_sum_tb .col3{
    width: 13.5%;
  }
  .total_sum_tb .col4{
    width: 19.5%;
  }
  .header_search_btn, .search_active_btn{
    width: 59px;
   
  }
  .header_search_btn{
    height: 60px;
    background: url(../images/icon/search.png) 50% 50% no-repeat;
    border-right:1px solid #000!important;
  }

  .active.header_search_btn{
    background: url(../images/icon/cloused.png) 50% 50% no-repeat;
  }
  .search_active_btn{
    height: 70px;
    background: url(../images/icon/search.png) 50% 50% no-repeat #ea4040;
  }
.stickyScroll .headermiddle{
   background-color: #fff;
    height: 0;
  }  
.headermiddle{
    box-shadow:0  1px 1px #e0e0e0,0 1px 4px #ebebeb;
    -webkit-box-shadow:0  1px 1px #e0e0e0, 0 1px 4px #ebebeb;
    -moz-box-shadow:0  1px 1px #e0e0e0, 0 1px 4px #ebebeb;
  }
  .logo{
  width: 25%;
  padding: 15px 0;

}
  .logo a{
    display:block;
    width: 100%;
    height:40px;
    background:url(../images/logo.png) 0 50% no-repeat;
    text-decoration:none;
    text-indent:-9999px;
    background-size: contain;
  }
.logo_resp{
  display: none;
}
.logo_resp a{
  display: block;
  background:url(../images/logo.png) 50% 50% no-repeat #fff;
  width: 176px;
  height: 52px;
  background-size: contain;
}
.show_nav_btn{
  width: 25px;
  height: 19px;
  background: url(../images/icon/show_menu_btn.png) 50% 50% no-repeat;
  margin-top: 25px;
  margin-right: 55%;
  cursor: pointer;
}
.popular_title{
  display: inline-block;
  position: relative;
  float: left;
}
.menu_main{
  
  position: relative;
}
.menu{
  border-left: 1px solid #e9e9e9;
  margin-left: -1px;
}
  .menu_closed{
      display: none;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 18px;
      height: 18px;
      background: url(../images/icon/cloused_black.png) 0 0 no-repeat;
      z-index: 13;
      cursor: pointer;
  }


  .menu_item{
    display:block;
    float: left;
    border-right: 1px solid #e9e9e9;
  }
  .account_item{
    display: none;
  }
  .account_item a{
    background: url(../images/icon/profile_black.png) 96% 50% no-repeat;
  }
  .account_item:hover a{
    background: url(../images/icon/profile.png) 96% 50% no-repeat #000;
  }
  
  .menu_lk{
      display: block;
      padding:24px 20px 24px 19px;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
    }

  .menu_item:last-child a{
      padding:24px 18px;
  }
    .menu_lk:hover, .current.menu_item .menu_lk{
      background-color: #ea4040;
      color: #fff;
    }
    .menu_item_trg{
      position: absolute;
      left: 50%;
      top: 68%;
      display: block;
      width:0;
      height:0;
      border: 6px solid transparent;
      border-top: 6px solid #ea4040;
      margin-left: -6px;
     
    }
    .menu_lk:hover .menu_item_trg, .current.menu_item .menu_item_trg{
      border-top: 6px solid #fff;
    }
    .menu_item_show{
      display: none;
      position: absolute;
      top:100%;
      width: 664px;
      left:-1px;
      background: #fff;
      z-index: 13;
      box-shadow: 1px 1px 10px rgba(125, 125, 125, 0.5), -1px -1px 10px rgba(125, 125, 125, 0.5);
      -webkit-box-shadow: 1px 1px 10px rgba(125, 125, 125, 0.5),-1px -1px 10px rgba(125, 125, 125, 0.5);
      -moz-box-shadow: 1px 1px 10px rgba(125, 125, 125, 0.5),-1px -1px 10px rgba(125, 125, 125, 0.5);
    }
   

    .menu_item:hover ul li:first-child>.categories_show{
      opacity: 1;
      visibility: visible;
    }
    .submenu_list{
      width: 28%;
      padding: 25px 0 14px 28px;
      border-right:1px solid #e9e9e9;
    }
      .submenu_lk{
        display: block;
        color: #27221f;
        padding-bottom:10px;
        position: relative;
      }
     
    .active.submenu_lk, .submenu_lk:hover, .filter_li_text:hover, .categories_lk:hover, .filter_li_inner:hover{
      color: #ea4040;
    }
    .categories_show{
      position: absolute;
      top:0;
      left:calc(100% + 1px);
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
    }

    li:hover>.categories_show{
      opacity: 1;
      visibility: visible;
    }

    .submenu_item{
      display: block;

    }
    .submenu_lk:hover:before, .active.submenu_lk:before{
      content:"";
      width: 0;
      height: 0;
      position: absolute;
      display: block;
      top:50%;
      right:-12px;
      border: 6px solid transparent;
      border-left: 6px solid #ea4040;
      margin-top: -10px;
      z-index: 10;
    }
    .categories_list{
      padding: 25px 10px 28px 20px;
    }
     
    .submenu_item:hover > div > ul,
    .categories_show:hover > ul{
      display: block;
    }

    .menu_item_show .categories_show:hover .submenu_lk:before{
      display: block;
    }
    .categories_lk{
      display:block;
      padding-bottom:10px;
      position: relative;
      color:#27221f;
    }
    
    .categories_item:hover .menu_item_show{
      display: block;
    }
    .favorite_box{
      width: 300px;
      padding: 20px 20px 28px 28px;
    }
  .carousel_item, .carousel_item_vis{
    border: 1px solid #e9e9e9;
    padding: 10px;
    position: relative;
  }
  #favorite_carousel .carousel_item{
    margin-top: 20px;
  }
  
    .product_name{
      font-size: 15px;
      font-weight: 600;
      display: block;
    }
    .product_price{
      font-weight: 400;
      display: block;
    }
    .product_ticket{
      text-transform: uppercase;
      width: 50px;
      display: block;
      padding: 5px 0;
      color: #fff;
      text-align: center;
    }
 .search_show{
    position: absolute;
    top:100%;
    width:calc(100% - 20px);
    height: 70px;
    display: none;
    z-index: 2;
    left:10px;
    right:10px;
 }
  .product_big_img{
    height: 355px;
    line-height: 355px;
    overflow: hidden;
  }
  .product_big_img img{
    vertical-align: middle;
  }
  input[type="text"].search{
  width: calc(100% - 59px);
  color:#c8bbb4;
  padding: 10px 20px;
  height: 70px;
  margin:0;
  background: #4b3e38;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
 }

/*-----rating stars---*/

.rating_stars{
  padding-top: 9px;
}
.rating_stars div {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 1.5px;
  background: url(../images/icon/rating_star.png) -18px 0 no-repeat;
}
.rating_stars div.star-on-png {
  background-position: 0 0;
}
.star_box{
  width: 50%;
  padding-top: 20px;
}
/*------------sticky menu--------------------*/

.stickyScroll.sticky{z-index: 120;position: fixed;top:0;width: 100%;}
 
  .sticky .headertop{
    box-shadow:0  1px 1px #e0e0e0,0 1px 5px #ebebeb;
    -webkit-box-shadow:0  1px 1px #e0e0e0, 0 1px 5px #ebebeb;
    -moz-box-shadow:0  1px 1px #e0e0e0, 0 1px 5px #ebebeb;
  }

  .stickyScroll .active.header_search_btn{
    background: url(../images/icon/cloused.png) 50% 50% no-repeat #4b3e38!important;
  }
  .stickyScroll .header_phone{
    display: none;
  }
  .stickyScroll .header_messadge{
    margin-left: 148px;
    padding: 25px 0 23px 20px;
    width: 26%;
  }
  .stickyScroll .logo{
    float: none;
    position: absolute;
    top:-62px;
    padding: 11px 20px 11px 0;
    width: 148px;
  }
  .stickyScroll .headertop{
    background: #fff;
    height: 70px
  }
  .stickyScroll .basket_hover{
    float: left;
  }
  .stickyScroll .headertop_right{
    margin-left: 120px;
    width: 41.3%;
  }
  .stickyScroll .header_account{
    width: 34.6%;
  }
  .stickyScroll .header_wish{
    width: 30.5%;
  }
  .stickyScroll .header_account a, .stickyScroll .header_wish a, .stickyScroll .basket_hover >a{
    color: #342923;
    padding: 24px 0 24px 50px;
  }
  .stickyScroll .header_account a{
    background: url(../images/icon/profile_black.png) 18px 50% no-repeat;
    padding: 24px 0 24px 45px;
  
  }
  .stickyScroll .header_wish a{
      background: url(../images/icon/heart_black.png) 20px 50% no-repeat;
      padding: 24px 0 24px 48px;
  }
  .stickyScroll .basket_hover >a{
      background: url(../images/icon/basket_black.png) 19px 50% no-repeat;
        padding: 24px 0 24px 40px;
  }
  .stickyScroll .basket_hover{
    width: 34.9%;
    color: #342923;
  }
 
  .stickyScroll .menu_item{
    display: none;
  }
  .stickyScroll .menu_item.categories_item{
    display: block;
    float: none;
    position: absolute;
    top:-70px;
    left:408px;
  }
 .stickyScroll .categories_item a{
  font-size: 13px;
 }
 .stickyScroll .menu_item_trg{top:75%;}
  .stickyScroll  [class*="header_"] {
    border-right: 1px solid #e9e9e9;
  }
  .stickyScroll .header_search_btn{
    height: 70px;
    border-right: 1px solid #e9e9e9!important;
    background:url(../images/icon/search_black.png) 50% 50% no-repeat;
  }
  .stickyScroll .header_account:hover, 
  .stickyScroll .header_wish:hover,
  .stickyScroll .header_basket:hover,
  .stickyScroll .header_search_btn:hover,
  .stickyScroll .basket_hover:hover .header_basket{
    background-color: #ea4040;
    
  }
  .stickyScroll .header_account:hover a, 
  .stickyScroll .header_wish:hover a,
  .stickyScroll .basket_hover:hover >a{
    color:#fff;
  }
  .stickyScroll .header_account:hover a{
     background: url(../images/icon/profile.png) 25px 50% no-repeat;
  }
  .stickyScroll .header_wish:hover a{
     background: url(../images/icon/heart.png) 20px 50% no-repeat;
  }
  .stickyScroll .basket_hover:hover > a{
    background: url(../images/icon/basket.png) 19px 50% no-repeat;
  }
  .stickyScroll .header_search_btn:hover{
     background:url(../images/icon/search.png) 50% 50% no-repeat  #ea4040;
  }
  .stickyScroll .basket_show_tb th{
    background-color: #ea4040;
  }
  .stickyScroll .menu_item_show{
    width: 600px;
  }
  .stickyScroll .submenu_list{
    width: 26%;
    padding: 25px 0 14px 20px;
  }
/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px;}
.cont_pad{padding:0 0 0 0 !important;}
.carousel_inner{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
  .carousel_title, .carousel_more, .carousel_text{
    opacity: 0;
    visibility: hidden;
  }
  .carousel_title{
    -moz-transform: translateX(0px) translateY(500px);
    -webkit-transform: translateX(0px) translateY(500px);
    -o-transform: translateX(0px) translateY(500px);
    -ms-transform: translateX(0px) translateY(500px);
    transform: translateX(0px) translateY(500px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .carousel_text{
    line-height: 1.8;
    -moz-transform: translateX(0px) translateY(700px);
    -webkit-transform: translateX(0px) translateY(700px);
    -o-transform: translateX(0px) translateY(700px);
    -ms-transform: translateX(0px) translateY(700px);
    transform: translateX(0px) translateY(700px);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .carousel_more{
    -moz-transform: translateX(0px) translateY(300px);
    -webkit-transform: translateX(0px) translateY(300px);
    -o-transform: translateX(0px) translateY(300px);
    -ms-transform: translateX(0px) translateY(300px);
    transform: translateX(0px) translateY(300px);
    -webkit-transition: all 1290ms ease;
    -moz-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
  }
  .active.owl-item .carousel_title, .active.owl-item .carousel_text, .active.owl-item .carousel_more, .active.owl-item .atop.carousel_title, .active.owl-item .atop.carousel_text,
  .active.owl-item .atop.carousel_more, .active.owl-item .atopunder.carousel_title, .active.owl-item .atopunder.carousel_text, .active.owl-item .atopunder.carousel_more, .active.owl-item .leftright.carousel_title, .active.owl-item .leftright.carousel_text,
   .active.owl-item .leftright.carousel_more{
    opacity: 1;
    visibility: visible;
    -moz-transform: translateX(0px) translateY(0);
    -webkit-transform: translateX(0px) translateY(0);
    -o-transform: translateX(0px) translateY(0);
    -ms-transform: translateX(0px) translateY(0);
    transform: translateX(0px) translateY(0);
  
  }
  .atop.carousel_title{
    -moz-transform: translateX(0px) translateY(-500px);
    -webkit-transform: translateX(0px) translateY(-500px);
    -o-transform: translateX(0px) translateY(-500px);
    -ms-transform: translateX(0px) translateY(-500px);
    transform: translateX(0px) translateY(-500px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .atop.carousel_text{
    -moz-transform: translateX(0px) translateY(-700px);
    -webkit-transform: translateX(0px) translateY(-700px);
    -o-transform: translateX(0px) translateY(-700px);
    -ms-transform: translateX(0px) translateY(-700px);
    transform: translateX(0px) translateY(-700px);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .atop.carousel_more{
    -moz-transform: translateX(0px) translateY(-300px);
    -webkit-transform: translateX(0px) translateY(-300px);
    -o-transform: translateX(0px) translateY(-300px);
    -ms-transform: translateX(0px) translateY(-300px);
    transform: translateX(0px) translateY(-300px);
    -webkit-transition: all 1290ms ease;
    -moz-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
  }
  .atopunder.carousel_title{
    -moz-transform: translateX(0px) translateY(-500px);
    -webkit-transform: translateX(0px) translateY(-500px);
    -o-transform: translateX(0px) translateY(-500px);
    -ms-transform: translateX(0px) translateY(-500px);
    transform: translateX(0px) translateY(-500px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .atopunder.carousel_text{
    -moz-transform: translateX(0px) translateY(700px);
    -webkit-transform: translateX(0px) translateY(700px);
    -o-transform: translateX(0px) translateY(700px);
    -ms-transform: translateX(0px) translateY(700px);
    transform: translateX(0px) translateY(700px);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .atopunder.carousel_more{
    -moz-transform: translateX(0px) translateY(-300px);
    -webkit-transform: translateX(0px) translateY(-300px);
    -o-transform: translateX(0px) translateY(-300px);
    -ms-transform: translateX(0px) translateY(-300px);
    transform: translateX(0px) translateY(-300px);
    -webkit-transition: all 1290ms ease;
    -moz-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
  }
  .leftright.carousel_title{
    -moz-transform: translateX(-500px) translateY(0);
    -webkit-transform: translateX(-500px) translateY(0);
    -o-transform: translateX(-500px) translateY(0);
    -ms-transform: translateX(-500px) translateY(0);
    transform: translateX(-500px) translateY(0);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .leftright.carousel_text{
    -moz-transform: translateX(2000px) translateY(0);
    -webkit-transform: translateX(2000px) translateY(0);
    -o-transform: translateX(2000px) translateY(0);
    -ms-transform: translateX(2000px) translateY(0);
    transform: translateX(2000px) translateY(0);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .leftright.carousel_more{
    -moz-transform: translateX(0px) translateY(300px);
    -webkit-transform: translateX(0px) translateY(300px);
    -o-transform: translateX(0px) translateY(300px);
    -ms-transform: translateX(0px) translateY(300px);
    transform: translateX(0px) translateY(300px);
    -webkit-transition: all 1200ms ease;
    -moz-transition: all 1200ms ease;
    -ms-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    transition: all 1200ms ease;
  }
  .carousel_inner_abs{
    position: absolute;
    top:170px;
    left:15px;
    width: 50%;
  }
    .more_lk{
      display:inline-block;
      padding: 16px 50px 13px;
      color:#fff;
      text-transform: uppercase;
      font-weight: 700;
    }
    .more_lk:hover, .get_btn:hover, .video_more_lk:hover,
    .product_question_btn:hover, .full_banner_lk:hover, .login_btn:hover, .personal_save_btn:hover{
       background-color: #f96161;
    }
  .main_carousel .owl-item{
    height: 450px;
  }
  .main_carousel .owl-item > div{
    height: 100%;width: 100%;overflow:hidden;
  }


 
  .carousel_item_vis{
    height: 315px;
    overflow: hidden;
  }

  .carousel_img_fg{
    height: 200px;
    line-height: 200px;
    overflow: hidden;
  }

  .carousel_img_fg img{
    vertical-align: middle;
  }

  .popular_bl, .new_bl, .about_bl{
    padding: 40px 0 0;
  }

  .above:before, .wt_above:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    top:-8px;
    left:0;
  }
  .above:before{
    background: #27221f;
  }
  .wt_above:before{
    background: #fff;
  }
.popular_lk, .popular_prev_lk, .details_lk{
  font-size: 16px;
  font-weight: 500;
  color: #27221f;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.popular_lk, .popular_prev_lk{
   padding-right: 10px;
  margin:7px 0 24px 0;
}

.details_lk{
  padding-right: 13px;
}
.popular_prev_lk{
  padding-left: 15px;
}
.full_pag_left .popular_prev_lk:hover, .full_pag_right .popular_lk:hover{
  color: #000!important;
}

.popular_lk:after, .product_discount_lk:after, .details_lk:after{
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  background: url(../images/icon/arrow_red.png) 0 0 no-repeat;
  position:absolute;
  right:0;
  top:50%;
  margin-top: -6px;
}
.popular_prev_lk:before{
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  background: url(../images/icon/arrow_red.png) 0 0 no-repeat;
  position:absolute;
  left:0;
  top:50%;
  margin-top: -6px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.details_lk:after{
  margin-left: 10px;
}

.active.details_lk:after{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.product_item{
  height: 250px;
  text-align: left;
  border-top: 1px solid #e9e5d0;
  border-left: 1px solid #e9e5d0;
  padding:18px 15px;
  background: #fff;
  overflow: hidden;
}
.product_big_item{
  padding: 18px;
  border-top: 1px solid #e9e5d0;
  border-left: 1px solid #e9e5d0;
  border-bottom: 1px solid #e9e5d0;
  margin-right:-10px;
  height: 500px;
  overflow: hidden;
}
  .product_big_item .product_name{
    padding-top: 40px;
  }
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.br_bt{
   border-bottom: 1px solid #e9e5d0;
}
.second_bl .product_item:nth-child(even){
   border-right: 1px solid #e9e5d0;
}
.third_bl .product_item{
  border-right:1px solid #e9e5d0;
}
.third_bl figcaption{
  padding: 0 10px;
}
.third_bl .product_img{
  height: 180px;
  overflow: hidden;
}
.product_item_hover {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  z-index: 2;
}
.product_item:hover > .prod_box_hover{
  left: 0;
}
.old_price {
    margin-right: 10px;
    color:#aeaa95;
    text-decoration: line-through;
    font-weight: 300;
}
.new_price, .total_price{
    color: #ea4040;
    text-decoration: none;
    font-weight: 600;
}
.sale_off{
  font-weight: 600;
  text-transform: uppercase;
}

  .product_item:before, .product_big_item:before, .product_add_item:before, .carousel_item_vis:before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
  }
  .wish_list_box .product_item:before{
    bottom: 50px;
  }
  .product_item:hover:before, .product_big_item:hover:before,
   .product_add_item:hover:before, .carousel_item_vis:hover:before{
      opacity: 0.2;
      visibility: visible;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
     
  }
  
    .product_add_lk, .add_type_lk, .wish_add_lk{
      background:url(../images/icon/basket.png) 20px 50% no-repeat;
      background-color:#ea4040;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      padding: 16px 0 13px 37px;
      text-align: center;
      width: calc(100% - 51px);
    }
    .product_add_lk{
      -moz-transform: translateX(0px) translateY(55px);
      -webkit-transform: translateX(0px) translateY(55px);
      -o-transform: translateX(0px) translateY(55px);
      -ms-transform: translateX(0px) translateY(55px);
      transform: translateX(0px) translateY(55px);
       -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    .product_item:hover .product_add_lk, .product_big_item:hover .product_add_lk,
     .product_item:hover .product_fav_lk, .product_big_item:hover .product_fav_lk,
     .carousel_item_vis:hover .product_add_lk, .carousel_item_vis:hover .product_fav_lk,
     .product_add_item:hover .product_add_lk, .product_add_item:hover .product_fav_lk{
      -moz-transform: translateX(0px) translateY(0);
      -webkit-transform: translateX(0px) translateY(0);
      -o-transform: translateX(0px) translateY(0);
      -ms-transform: translateX(0px) translateY(0);
      transform: translateX(0px) translateY(0);
    }
    .product_add_lk:hover{
      background-color:#f96161;
    }
    .product_fav_lk, .fav_type_lk{
      width: 50px;
      height: 50px;
      background:url(../images/icon/heart.png) 50% 50% no-repeat;
      background-color: #9e9691;
  }
  .product_fav_lk{
      -moz-transform: translateX(0px) translateY(55px);
      -webkit-transform: translateX(0px) translateY(55px);
      -o-transform: translateX(0px) translateY(55px);
      -ms-transform: translateX(0px) translateY(55px);
      transform: translateX(0px) translateY(55px);
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    .product_fav_lk:hover{
      background-color: #b5ada7;
    }
    .product_img{
      height: 125px;
      overflow: hidden;
    }
 .ml10{margin-left:-10px;}
 .mr10{margin-right: -10px;}
 .aboutus_bl{
  background: url(../images/bg_aboutus.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 520px;
 }
 .aboutus_box{
  width:86.6%;
  padding-top: 106px;
 }

 .get_products{
  padding:106px 36px;
  height: 100%;
  position: relative;
 }
 .get_products:before{
  content: "";
  background:url(../images/gets_bl.jpg) 50% 50% no-repeat;
  opacity: 0.7;
  background-size: cover;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
 }

  .get_products_box{
    width: 62%;
    position: absolute;
    top:21%;
    left:34px;
  }
    .get_discount{
      top:-6px;
      left:50px;
      font-size: 36px;
      line-height: 1;
      text-transform: uppercase; 
      display: block;
      letter-spacing: -1px;
      font-family: 'Roboto', sans-serif;
    }
  input[type="text"], input[type="password"], input[type="phone"]{
    padding: 7px 10px;
    color: #aeaa95;
    font-weight: 300;
    width: 100%;
    border:1px solid #e9e9e9;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .get_form input[type="text"]{
    margin-bottom: 20px;
    border: none;
  }
  .get_btn{
    padding: 18px 32px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 19px;
  }
  .get_more{
    color: #ffefbf;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    display: inline-block;
  }
  .get_more:hover{
    text-decoration: underline;
  }
  .get_more:after{
    content: "";
    position: relative;
    left:6px;
    width: 11px;
    height: 9px;
    background: url(../images/icon/get_arow.png) 0 0 no-repeat;
    display: inline-block;
  }

  .advantages_bl{
    padding-top:40px;
  }
    .advantages_box{
      margin-bottom: 14px;
    }
      .advantages_categ{
        font-family:'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        vertical-align: middle;
        padding: 0 20px; 
        height: 100px;
      }
        .advantages_fond, .advantages_paypal{
          width: 100px;
          height: 100px;
        }
        .advantages_fond{
          background:url(../images/icon/advantage_bg4.png) 0 0 no-repeat;
        }
        .advantages_paypal{
          background:url(../images/icon/advantage_bg2.png) 0 0 no-repeat;
        }
/*------------catalog---------*/
.range_box input[type="text"]{
   width: 60px;
   color: #342923;
}

.range_box_to{
  display: inline-block;
  width: 49%;
  padding: 8px 0;
}   
.filter_show_to, .filter_show_box_to{
  border-bottom: 1px dashed #e1e1e1;
  position: relative;
}
.filter_show_to{
    padding: 10px 28px 20px 28px;
}
.filter_show_box_to{
  padding: 18px 28px 33px 28px;
}
.filter_show_box_to:last-child{
  border-bottom: none;
  padding: 24px 28px 33px 28px;
}
.filter_show_box_to h6{
  margin-bottom: 6px;
}
.filter_show_to:last-child{
  border-bottom: 0;
}
.filter_show_to h6{
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}
.filter_show_inner{
  padding: 0 28px;
}
.filter_show_inner h6{
  margin-bottom: 5px;
}
.filter_show_box_to .jq-selectbox{
  width: 100%;

}
.filter_show_box_to .jq-selectbox__select{
  width: 100%;
  height: 40px;
  border: 1px solid #e9e9e9;
  padding: 0 30px 0 10px;

}
.filter_show_box_to .jq-selectbox__select-text{
  line-height: 38px;
  text-transform: inherit;
  letter-spacing: 0;
}
.filter_show_box_to .jq-selectbox li{
  line-height: 26px;
  text-transform: inherit;
  letter-spacing: 0;
}
.filter_show_box_to .jq-selectbox__trigger{
  width: 38px;
  border-left: 1px solid #e9e9e9;
}

.filter_show_title{
  border-bottom: 1px solid #f0eee1;
  line-height: 60px;
}

.filter_to1{
  z-index: 16;
}
.filter_to2{
  z-index: 15;
}
.filter_to3{
  z-index: 14;
}
.filter_show_engine{
  margin-top: 12px;
}
.filter_show_engine > span{
  display: inline-block;
  border: 1px solid #f7ab18;
  width: 76px;
  padding: 8px;
  margin-left: 10px;
}
.filter_show_engine > span:first-child{
  margin-left: 0;
}
.filter_show_engine .close_engine{
  display: inline-block;
  padding-left: 8px;
  cursor: pointer;
  font-size: 16px;

}
/*---------------------video blok----------*/

.video_bl, .blog_bl{
  padding: 40px 0 0;
}
.video_popap_link{
  height: 110px;
  
  margin-bottom:2px;
  cursor: pointer;
}
.video_popap{
  text-align: center;
  line-height: 110px;
  float: left;
  width: 42%;
  display: block;
  height: 100%;
  background: #000;
}
  .video_popap img{
    vertical-align: middle;
  }
  .video_popap_text {
    display:block;
    background: #3b3b3b;
    color: #fff;
    width:58%;
    float: right;
    position: relative;
    height: 100%;
  }
  .video_popap_text span{
    position: absolute;
      top: 50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
      width: 100%;
      padding: 0 12px;
  }
  .video_popap_item_text:hover {
    background: #5a5a5a;
  }
  .arctickmodal_video{
    width: 860px;
    height: 513px;
    background-color: #FFF;
    position: relative;
  }
  .arcticmodal-close {
    padding: 0;
    display: block;
    top:0;
    right: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    color: #fff;
    cursor: pointer;
  }
  .modal_video_box {
    height: 100%;
    background: #000;
  }
.video_big{
  height: 446px;
  background:#000;
  cursor: pointer;
 }

.slides .video_box{
  height: 395px;
}
.video_box{
  height: 446px;
}
.video_big_abs{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  display: block;
  cursor: pointer;
}

.active.video_big_abs{
  display: none;
}
  .mr_10{
    margin-right: 10px;
  }
  .ml28{margin-left: -28px;}
.video_more{
  height: 110px;
  width: 100%;
} 
 
  .video_more_text{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family:'Roboto', sans-serif;
    vertical-align: middle;
  }
  .video_more_lk{
    width: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../images/icon/arrow_double.png) 50% 70% no-repeat #ea4040;
    padding-top: 36px;
  }
  .video_text_type{
    font-size: 24px;
    line-height: 0.75;
  }
  
  /*---------------blog-------------*/
  .post {
    border: 1px solid #e9e5d0;
    height: 396px;
  }
    .post:hover {
    border: 1px solid #d3ceb3;
}
    .post:hover .post_content_title{
      color: #ea4040;
    }
    .post_content {
      padding: 10px 15px 0;
    }
    .post_comments {
      float: left;
      padding-left: 18px;
      background: url(../images/comments.png) 0% 64% no-repeat;
    }
    .post_pubdate {
      float: right;
      padding-left: 20px;
      background: url(../images/calendar.png) 0% 40% no-repeat;
    }
    .post_content_title {
      display: inline-block;
      padding: 12px 0 10px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 18px;
      text-transform: none;
      color: #000;
    } 
  .marker_list li{
    padding-left: 10px;
    margin-bottom: 5px;
  }
    .marker_list li:before{
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #ea4040;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      top:-2px;
    }
/*------------------------brends---------------*/
.brend_bl{
  padding: 40px 0 92px;
}
   .brends_box{
    padding-top: 10px;
   }
    .brend{
      display: inline-block;
      line-height: 84px;
      height: 84px;
    }
    .brend:hover{
      opacity: 0.8;
    }
   
      .brend img{
        vertical-align: middle;
      }

  .brends_box .owl-prev, .brends_box .owl-next{
    display: none;
    height: 20px;
    margin-top: -10px;
  }
  .brends_box .owl-prev{
    left: 0;
    background: url(../images/icon/brends_arrow_prev.png) 0 0 no-repeat;
  }
  .brends_box .owl-next{
    right: 0;
    background: url(../images/icon/brends_arrow_next.png) 0 0 no-repeat;
  }
  .brends_box:hover .owl-prev, .brends_box:hover .owl-next{
    display: block;
  }
  .carousel_brend .owl-pagination{
    display: none;
  }
  .carousel_brend_item{
    text-align: center;
    padding:0 10px;
  }
/*--------------страница продукта--------------*/
.product_top{
  border-bottom:1px dashed #e3e3e3;
  padding-bottom: 10px;
}
.product_info{
  padding: 15px 0 0;
}

  .product_info_name{
    width: 60%;
  }
    .product_info_name .rating_stars{
      padding-top: 0;
    }
    .product_reviews{
      margin: 0 16px 0;
      line-height: 1;
    }
      
      .product_info_title span{
        right:0;
        top:0;
        position: absolute;
        font-size: 14px;
        font-weight: 400;
      }
      .product_discount_lk{
        padding-right: 10px;
        line-height: 1;
      }
      .product_discount_lk:hover{
        color:#342923!important;
      }

  .product_info_price{
    width: 35%;
    padding-right: 120px;
    position: relative;
    text-align: right;
  }
    .product_info_price .new_price{
      font-size: 36px;
      font-weight: 600;
    }
    .product_info_price .old_price, .product_info_price .sale_off{
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;
      margin-top: 8px;
      display: inline-block;
    }
    .product_info_price .sale_off:before{
      content: "";
      display: inline-block;
      width: 2px;
      height: 12px;
      margin-right: 10px;
      background-color: #27221f;
    }
    .product_buttons_box{
      position: absolute;
      top:0;
      right:0;
    }
      .product_buttons_box button{
        width: 50px;
        height: 50px;

      }
      .product_basket_btn{
        background-image: url(../images/icon/basket.png);
        background-position:50% 50%;
        background-repeat:no-repeat;
        margin-right: -3px;
      }
      .product_basket_btn:hover{
        background-color:#f96161; 
      }
      .product_fav_btn{
        background-image: url(../images/icon/heart.png);
        background-position:50% 50%;
        background-repeat:no-repeat;
      }
      .product_fav_btn:hover, .fav_type_lk:hover, .personal_up_btn:hover, .disable_btn:hover{
       background-color: #b5ada7;
      }
.recommendations_bl, .customers_bl, .blog_customers_bl{
  padding: 40px 0 40px;
}
.customers_bl{
  border-top: 1px solid #e2e2e2;
}
.blog_customers_bl{
  border-top: 1px dashed #e2e2e2;
}
.product_tabs_bl{
  border-top: 1px solid #e2e2e2;
  
  background-color: #fff;
}
  .map_delivery{
    border-bottom: 1px dashed #e3e3e3;
    padding:0 0 30px 30px;
    position: relative;
  } 
  .inter_map path:hover{
        fill: #648e14;
        cursor: help;
  }
    .inter_map path{
      position: relative;
    }
    .info_map{
      opacity: 1;
      visibility: visible;
      background-color: #fff;
      padding: 5px 10px;
      position: absolute;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      box-shadow: 0 1px 1px 1px #ebebeb, -1px -1px 1px #ebebeb;
      -webkit-box-shadow:0 1px 1px 1px #ebebeb, -1px -1px 1px #ebebeb;
      -moz-box-shadow:0 1px 1px 1px #ebebeb, -1px -1px 1px #ebebeb;
      z-index: 2;
    }
    .map_state{
      font-weight: 700;
    }
    .info_map:after{
      display: block;
      content: "▼";
      transform: scaleX(1.5);
      -webkit-transform: scaleX(1.5);
      -moz-transform: scaleX(1.5);
      font-size: 20px;
      position: absolute;
      bottom:-15px;
      left:50%;
      margin-left: -5px;
      color: #fff;
      text-shadow: 1px 1px 2px #ebebeb;
      -webkit-text-shadow: 1px 1px 2px #ebebeb;
      -moz-text-shadow: 1px 1px 2px #ebebeb;
     z-index: 1;
  
    }
      .info_map_lk{
        color:#ed6e41;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        display: block;
      }
      .info_map_lk:after{
        content: "→";
        display: inline-block;
        padding-left:5px;
      }
    .info_map.hidden{
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .4s ease, visibility .4s ease;
      transition: opacity .4s ease, visibility .4s ease;
    }
  .map_delivery:hover .map_delivery_first{
    opacity: 0;
  }
  .map_delivery_state{
    opacity: 0;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    padding: 0 0 30px 100px;
  }
  .map_delivery:hover .map_delivery_state,  .map_delivery:hover .map_tultipe{
    opacity: 1;
 
  }
 
  .map_tultipe{
    opacity: 0;
    position: absolute;
    top:20%;
    right:46%;
    background-color: #fff;
    padding: 10px 15px 10px 24px;
    box-shadow: 10px 14px 15px rgba(150,150,150,0.5);
    -webkit-box-shadow: 10px 14px 15px rgba(150,150,150,0.5);
    -moz-box-shadow: 10px 14px 15px rgba(150,150,150,0.5);
  }
  .map_tultipe:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top:100%;
    left:50%;
    margin-left:-5px;
    border: 10px solid transparent;
     border-top: 10px solid #fff;
  }
    .map_tultipe_lk{
      color: #ed6e41;
      font-weight: 300;

    }
  .map_delivery_tultipe{
    position: absolute;
    top:30%;
    right:0;
    width: 210px;
  }
    .map_tultipe_ship{
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
       color:#000;
       position: relative;
       font-size: 14px;
    }
    .map_delivery_for{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding-bottom: 15px;
      position: relative;
    }
      .map_delivery_for:before, .map_tultipe_ship:before{
        content: "*";
        display:block;
        color: #ed6e41;
        font-size: 18px;
        width: 8px;
        height: 8px;
        position:absolute;
        top:-4px;
        left: -12px;

      }
    .map_delivery_west, .map_delivery_east{
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      display: block;
    }
    .map_delivery_west:before,  .map_delivery_east:before{
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid #97b521;
      margin-right: 10px;
    }
    .map_delivery_west:before{
      background-color: #c5e935;
    }
    .map_delivery_east:before{
      background-color: #92ce1e;
    }
    .map_delivery_estimated{
      position: absolute;
      top:80%;
      right:4%;
      color: #ed6e41;
      font-weight: 300;
    }
.product_question{
  line-height: 50px;
  width: 32.5%;
}
.product_question_btn{
  padding: 15px 20px;
  color: #fff;
  width: 23.5%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.product_question_show, .filter_show, .add_address_show{
  display: none;
  position: fixed;
  background-color: #fff;
  height: 100%;
  right: auto;
  top:0;
  z-index: 102;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.product_question_show, .add_address_show{
   width: 450px;
   left:-450px;
  padding: 25px 40px 20px;
}
.add_address_show{
  padding: 30px 45px;
}
.filter_show{
  width: 312px;
  left: -312px;
  padding: 0;
  overflow: auto;
}
#menu_overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity:0;
  visibility: hidden;
  z-index: 101;
}

.show_block #menu_overlay{
  opacity: 0.7;
  visibility: visible;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.show_block .product_question_show, .show_block .filter_show, .show_block .add_address_show{
  display: block;
  left: 0;
}

.returns_box{
  padding: 30px 0 40px;
}
.product_advantage_container{
  background-color: #f8f6f6;
  border-top: 1px solid #e2e2e2;
}
.product_add_bl{
    padding: 20px 0 40px;
  }
  .product_add_item{
    height: 315px;
    background-color: #fff;
    border: 1px solid #e9e5d0;
    padding: 20px 0 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
  }
    .advantages_type{
      height: 66px;
    }
    .product_add_item .rating_stars{
      margin-right: 15px;
    }
    .product_add_item figcaption{
      padding: 0 15px;
    }
    .product_add_img{
      height: 210px;
      line-height: 210px;
      overflow: hidden;
      text-align: center;
    }
    .product_add_img img{
      vertical-align: middle;
    }
    .product_advantage_bl{
      padding: 98px 0 0;
    }
    .form_buy {
      border: 1px solid #e9e5d0;
      background-color: #fff;
    }
    .main_product_form {
      border-bottom: 1px dashed #e9e5d0;
      padding: 30px 34px 57px 34px;
    }
      .main_form_title {
        font-size: 16px;
        font-family: roboto; 
        font-weight: 600;
        margin-bottom: 15px;
      }
      .product_form_colors {
        margin-bottom: 28px;
      }
      .form_buy .product_info_price{
        padding:30px 30px 28px 34px;
        width: 100%;
        text-align: left;
        border-bottom: 1px dashed #e9e5d0;
      }
      table.colors{
        width: 100%;
      }
        input[type="checkbox"], input[type="radio"]{
          display: none;
        }
        .colors_label:before {
          content: " ";
          background-color: #fff;
          position: relative;
          display: inline-block;
          margin: 0 8px 0 0;
          border: 1px solid #e9e9e9;
          width: 18px;
          height: 18px;
          top:2px;
        }

        input[type="checkbox"]:checked + .colors_label:before{
          background:url(../images/icon/tick.png) 50% 50% no-repeat;
        }

        input[type="radio"]:checked + .colors_label:before{
          background: url(../images/icon/point.png) 50% 50% no-repeat;
        }
  .product_share {
    padding: 30px 30px 30px 36px;
  }
    .product_share_title {
      float: left;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding: 4px 7px 15px 0;
    }
      .product_share_links a {
      margin-right: 2px;
      width: 31px;
      height: 31px;
      overflow: hidden;
      border: 1px solid #c0b7b1;
      background-color: #f7f5f2;
    }
    .product_share_links a:hover {
      border: 1px solid #000;
    }
    
    .notavailable{
      position: relative;
    }
      .notavailable .add_type_lk{
        background: #e9e3df;
        color: #27221f;
        cursor: default;
        pointer-events:none;
      }
        .notavailable .add_letme_lk{
          display: block;
          color: #ea4040;
          font-weight: 700;
          background: url(../images/icon/horn.png) 0% 50% no-repeat #fff;
          padding: 5px 0 5px 35px;
          top: 100%;
          position: absolute;
          left: 0;
          margin-top: 10px;
          font-size: 14px;
          text-transform: none;
          height: 30px;
        }
  .estimated{
    padding-right: 100px;
    color: #ed6e41;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  /*-------tab reviwes--------------*/
  .product_review, .comment_box{
    background-color: #f8f6f6;
    border: 1px solid #e9e9e9;
  }
  .comment_box{
    padding: 30px 25px;
  }
  .product_review{
    padding: 65px 25px 20px;
  }
  
  .product_review_form textarea{

    font-family:'Open Sans', sans-serif;
    width: 100%;
    display: block;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    height: 180px;
    resize:vertical;
    color: #aeaa95;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    margin-bottom: 20px;
  }
    .product_review_btn{
      padding: 18px 0 17px;
      width: 26%;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    .product_review_btn:hover{
      background-color: #f96161;
    }
  .product_review_box{
    border: 1px solid #e9e9e9;
    margin-bottom: 20px;
  }
  .product_review_stars{
    top:0;
    right:10px;
    padding: 7px 0;
  }
  .product_review_stars .rating_stars{
    padding-top: 3px;
    margin-top: 0;
  }
  ::-webkit-input-placeholder {color:#636363;font-size: 14px; font-family:'Open Sans', sans-serif;}
  ::-moz-placeholder          {color:#636363;font-size: 14px; font-family:'Open Sans', sans-serif;}
  :-moz-placeholder           {color:#636363;font-size: 14px; font-family:'Open Sans', sans-serif;}
  :-ms-input-placeholder      {color:#636363;font-size: 14px; font-family:'Open Sans', sans-serif;}
  .product_review_form textarea::-webkit-input-placeholder { font-size: 14px; font-weight:300;color:#aeaa95;}
  .product_review_form textarea:-moz-placeholder { font-size:14px;font-weight:300;color:#aeaa95;}
  .review{
    border-bottom:1px dashed #e3e3e3;
    padding: 26px 0 8px;
  }
    .product_review_title{
      font-size: 18px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 10px;
    }
    .review_ahtor{
      font-weight: 600;
      display: inline-block;
      padding-right: 10px;
    }
  .review_pagination_box{
    padding-top: 30px;
  }
  .figure_hover{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    cursor: pointer;
    z-index: 2;
  }
  /*----------tabs_description----------*/
  .description_img, .specification_img{
    border: 1px solid #e9e5d0;
    display: inline-block;
    min-width: 100%;
  }
  .description_img{
    margin-bottom: 18px;
  }
  .specification_img_box{
    margin-bottom: 20px;
  }
  .tabs_description .video_big{
    height: 400px;
    margin-bottom: 18px;
  }
  .tabs_specification .video_big{
    height: 176px;
    background-size: 25%;
  }
  .records_table_box{
    padding-left: 10px;
  }
    .records_table {
      width: 100%;
      border: 1px solid #e9e5d0;
    }
    .records_table tr{
      border-bottom: 1px solid #edebe3;
    }
    .records_table tr:nth-child(2n) {
      background-color: #fbf9f6;
    }
    .records_table td{
      padding: 20px;
      width: 50%;
      border-right: 1px solid #edebe3;
      padding: 24px;
      position: relative;
    }
      .records_link_mark{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left:-5px;
        background:url(../images/icon/mark.png) 50% 50% no-repeat;
        border: 1px solid #e9e5d0;
    }
    .records_link_mark:hover + .steer{
      visibility: visible;
      opacity: 1;
      -moz-transform: translateX(0px) translateY(0);
      -webkit-transform: translateX(0px) translateY(0);
      -o-transform: translateX(0px) translateY(0);
      -ms-transform: translateX(0px) translateY(0);
      transform: translateX(0px) translateY(0);
    }
    .steer, .promt{
      position: absolute;
      width: 140px;
      background-color: #fff;
      padding: 3px 5px;
      font-weight: 300;
      visibility: hidden;
      opacity: 0;
      box-shadow: 1px 2px 5px rgba(150,150,150,0.8);
      z-index: 1;
      font-size: 12px;
      line-height:1.2;
      -moz-transform: translateX(0px) translateY(-50px);
      -webkit-transform: translateX(0px) translateY(-50px);
      -o-transform: translateX(0px) translateY(-50px);
      -ms-transform: translateX(0px) translateY(-50px);
      transform: translateX(0px) translateY(-50px);
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    .steer{
      bottom:50px;
      left:-30px;
    }
/*-----------------blog--------------*/
  .blog_top_inner{
    border: 1px dashed #e9e5d0;
    padding: 23px 29px 33px;
  }
  .blog_top_inner p{
    font-size: 16px;
    line-height: 1.625;
  }
  .blog_full_text{
    padding: 25px 65px;
    margin-bottom: 0;
    line-height: 24px;
  }
  .full_banner_lk{
    color: #fff;
    padding: 14px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .pagination_bl{
    padding: 20px 0 0;
  }
  .comments_bl{
    padding-top: 30px;
    border-top:1px dashed #e3e3e3;
  }
  .at-share-tbx-element a.at300b div{
    vertical-align: top!important;
  }
  .blog_full_resp{
    display: none;
  }
  .blog_top h2{text-transform: none;}
  .blog_full_pag a{
    font-size: 14px;
  }
  .blog_full_pag span{
    font-weight: 500;
  }
  .blog_full_pag{
    padding-bottom: 35px;
  }
  .full_pag_left{float: left;}
  .full_pag_right{float: right;}
  .full_pag_left, .full_pag_right{width: 50%;}
  /*-----account order-----*/
  .orders_inner_counter{
    display: inline-block;
    margin-left: 7px;
  }
  .account_table{
    width: 100%;
  }

  .account_table_overflow{
    margin-bottom: 100px;
  }
  
  .account_table tr, .account_address_table tr{
     border-top:1px dashed #e3e3e3;
  }
  .account_table tr:last-child, .account_address_table tr:last-child{
     border-bottom:1px dashed #e3e3e3;
  }
  .account_table td{
    padding: 44px 0;
  }
  tr.account_views_tr,  td.account_views_td{
     border:none;
     padding: 0!important;
  }
  
 .account_table th, .account_address_table th{
    text-align: left;
    font-weight: 600;
    border-top:1px dashed #e3e3e3;
    border-bottom:1px dashed #e3e3e3;
    padding: 12px 0;

  }
  .account_table th.col1{
    width: 22.5%
  }
  .account_table th.col2{
    width: 23.5%
  }
  .account_table th.col3{
    width: 19%
  }
  .account_table th.col4{
    width: 17%
  }
  .account_table th.col5{
    width: 18%
  }

  .account_table th:last-child{
    text-align: right;
  }
  .account_list_item{
   border-top: 1px solid #e9e9e9;
  }
  .account_list_item:last-child{
    padding: 16px 0;
  }
    .account_list_item_img{
      margin: -5px 0 0 10px;
    }
  .account_list_item a{
    display: block;
    position: relative;
    padding: 12px 0 13px;
    text-transform: uppercase;
  }
  .my_orders_counter, .my_wish_counter{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    top:50%;
    margin-top: -12px;
    right:0;
  }
  .my_orders_counter{
   background-color: #ea4040;

   }
  .my_wish_counter{
    background-color: #f7ab18;
  }
 .account_views{
    display: none;
    background-color: #f8f8f8;
    position: relative;
    top:-1px;
  }
 .active.account_views{
    display: block;
  
  }
  .views_data_item h6, .account_address h6{
    line-height: 1.1;
    text-transform: none;
  }
  .details_lk{
    color: #ea4040;
    font-weight: 700;
    cursor: pointer;
  }
  .account_views{
    border:1px solid #e3e3e3;
    margin-bottom: 30px;
  }
  .views_data_item{
    float: left;
    width: 25%;
    padding: 30px 20px;
    font-weight: 600;
    border-bottom: 1px dashed #e3e3e3;
    border-left: 1px dashed #e3e3e3;
    height: 100px;
  }
  .views_data_item:first-child{
    border-left: none;
  }
  .account_address{
    padding: 30px 20px;
    font-weight: 600;
  }
   .views_data_item span, .account_address span{
    font-weight: 300;
   }
  .account_carousel_item{
    float: left;
    width: 33.3%;
    padding: 15px 12px;
    background-color: #fff;
    border-top:1px solid #e9e5d0;
    border-bottom:1px solid #e9e5d0;
    border-right:1px solid #e9e5d0;
    height: 315px;
  }
    .account_carousel_img{
      height: 180px;
      line-height: 180px;
      overflow: hidden;
    }
      .account_carousel_img img{
        vertical-align: middle;
      }
  .account_product{
    padding: 30px 20px;
    border-top:1px dashed #e3e3e3;
  }
  .account_carousel_item:first-child{
    border-left:1px solid #e9e5d0;
  }
  .account_product_price{padding-bottom: 28px;}
  .product_price_total{
    display: inline-block;
    margin-left: 5px;
  }
  #registration, #great, #newpassword, #sended, #email{
    width: 450px;
    background-color: #fff;
    position: relative;
  }
  #registration .arcticmodal-close, .question_close,
   #great .arcticmodal-close, #newpassword .arcticmodal-close,
   #sended .arcticmodal-close,  #email .arcticmodal-close, #billing .arcticmodal-close, #shipping .arcticmodal-close{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background: url(../images/icon/cloused_gray.png) 50% 50% no-repeat  #f6f4e9;
  }
  .question_close{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
  }
  .filter_show .question_close{
    width: 30px;
    height: 60px;
    background: url(../images/icon/filter_popup_arrow.png) 50% 50% no-repeat;
    background-color: #f6f4e9;
  }
  
  .registration_box{
     padding: 20px 45px 0;
  }

  .great_box{
    padding: 25px 45px 5px;
  }
  .great_box, .fill_box{
    background-color: #f6f4e9;
    border-top: 1px solid #e7e5d8;
  }

  .registration_soc_box, .register_soc_box{
    position: relative;
    padding: 35px 20px 30px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e7e5d8;
    text-align: center;
  }
  
    .registration_for{
      padding-bottom: 15px;
    }
    .registration_for a{
      line-height: 27px;
    }
  .registration_soc_box:after, .register_soc_box:after{
    content: "or";
    position: absolute;
    height: 20px;
    display: block;
    top:-12px;
    left:50%;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
  }
  .registration_soc_box:after{
      width: 40px;
  }
  .register_soc_box:after{
    width: 267px;
    margin-left: -133px;
  }
  .register_soc_box:after{
    content: "or register per 1 second! Try it!"
  }
  .registration_soc_box a, .register_soc_box a{
    width: 48px;
    height: 48px;
    background-color: #fff;
    background-position: 50% 50%;
    border-radius: 50%;
    border:1px solid #f7ad1e;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    margin-left: 20px;
  }
  .comodo_box{
    padding-left: 130px;
    line-height: 40px;
    background: url(../images/icon/comodo.png) 0 0 no-repeat;
    margin-bottom: 20px;
    color: #a7a38c;
  }
  .registration_soc_box a:hover, .register_soc_box a:hover{
    border: 1px solid #f2ef12;
  }
  .registration_soc_box a:first-child, .register_soc_box a:first-child{
    margin-left: 0;
  }
  .registration_soc_box img, .register_soc_box img{
    vertical-align: middle;
  }
  .registration_easy{
    text-align: center;
    padding: 35px 0;
  }
  .registration_easy a:hover{
    text-decoration: underline;
  }
  .login_btn, .modal_question_btn, .apply_btn,
   .personal_save_btn, .personal_up_btn{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
    padding: 14px 0;
    text-align: center;
  }
  .apply_btn{
    padding: 18px 0 17px 0;
  }
  .login_btn{
    width: 65%;
  }
  .modal_question_btn{
    width: 47%;
  }
  .apply_btn{
    width:100%;
  }
  .registration_form input[type="text"], .product_question_box input[type="text"], .add_address_show input[type="text"]{
   padding: 7px 10px;
   }
  .input_box_inner{
     margin-bottom: 20px;
  }
   textarea{
    height: 300px;
    width: 100%;
    padding: 14px 20px;
    overflow: hidden;
    border:1px solid #e9e9e9;
    margin-bottom: 30px;
    resize:vertical;
   }
   ::-webkit-input-placeholder {color:#aeaa95;font-size: 14px; font-family:'Open Sans', sans-serif;font-weight: 300;}
    ::-moz-placeholder          {color:#aeaa95;font-size: 14px; font-family:'Open Sans', sans-serif;font-weight: 300;}
    :-moz-placeholder           {color:#aeaa95;font-size: 14px; font-family:'Open Sans', sans-serif;font-weight: 300;}
    :-ms-input-placeholder      {color:#aeaa95;font-size: 14px; font-family:'Open Sans', sans-serif;font-weight: 300;}
/*-------------acount address---------------*/
.add_address_btn, .add_company_btn{
   text-transform: uppercase;
}
.add_company_btn + div{
  display: none;
}
.add_company_btn + div.active{
  display:block;
}
.add_address_btn:before, .add_wish_btn:before, .add_company_btn:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icon/add_account.png) 0 0 no-repeat;
  position: relative;
  left: -8px;
  top:3px;
}
.edit_btn, .add_account_cloused_btn{
  width: 18px;
  height: 18px;
}
.edit_btn{
  background: url(../images/icon/pen.png) 50% 50% no-repeat;
}
.add_account_cloused_btn{
  background: url(../images/icon/add_account_cloused.png) 50% 50% no-repeat;
  margin-left: 17px;
}
.account_address_table{
  width: 100%;
  font-weight: 300;
}
  .account_address_table th.col1{
    width: 29%
  }
  .account_address_table th.col2{
    width: 35%
  }
  .account_address_table th.col3{
    width: 28%
  }
  .account_address_table th.col4{
    width: 8%
  }
  .account_address_table td{
    padding-top: 24px;
    padding-bottom: 26px;
  }
    .account_address_text{
      padding-right: 70px;
    }
.first_time.account_table_overflow{
  height: 324px;
  border: 1px dashed #e3e3e3;
  text-align: center;
  background-color: #fff;
}
.first_time.account_table_overflow .account_address_table{display: none;}
.account_table_marker{display: none;}
.first_time.account_table_overflow .account_table_marker{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  padding-left:20px;
  background: url(../images/icon/marker_red.png) 30% 0 no-repeat;
}
.add_address_show{
  display: none;
}
.add_address_show .add_address_btn{
  padding-left: 12px;
}
.automatically_text{
  display: block;
  padding-left:20px;
  line-height: 20px;
  letter-spacing: -0.8px;
}
.add_address_state{
  width:35%;
 }
.add_address_state .jq-selectbox__select, .ordering_add_box .jq-selectbox__select{
    font-size: 14px;
    height: 40px;
    border: 1px solid #e9e9e9;
}
.ordering_add_box .jq-selectbox__select{
    padding: 0 0 0 10px;
}
.add_address_state .jq-selectbox__select{
  padding: 0 40px 0 0;
}
.add_address_state .jq-selectbox__select-text{
  text-align: center;
}
.add_address_state .jq-selectbox__trigger{
  width: 40px;
  border-left:1px solid #e9e9e9;
}
.add_address_state .jq-selectbox__select-text, .ordering_add_box .jq-selectbox__select-text{
  line-height: 40px;
  text-transform: none;
}
.add_address_state .jq-selectbox li{
  text-transform: none;
}
.add_address_for{
  padding: 10px 0;
}
.add_address_for button{
  width: 170px;
}
.add_address_line{
  position: relative;
}
.add_line_btn{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-left:1px solid #e9e9e9!important;
  position: absolute;
  right: 0;
  top:0;
  background: url(../images/icon/add_account.png) 50% 50% no-repeat;
}
/*----------account personal info-----------*/
.info_box_personal{
  width: 51.4%;
  border-right:1px dashed #e3e3e3;
}
.personal_info{
  border-top:1px dashed #e3e3e3;
  border-bottom:1px dashed #e3e3e3;
}
.personal_info input[type="text"]{
  margin-bottom: 20px;
}
.info_box_inner{
  padding: 15px 22px 10px 0;
  border-bottom:1px dashed #e3e3e3;
}

.personal_password{
  width: 48.6%;
  padding:15px 0 28px 22px;
}
.personal_info .colors_label{
  margin-right: 22px;
  display: inline-block;
}
.personal_info .colors_label:before, .ordering_payment_item .colors_label:before{
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  position: relative;
  left:0;
  top:5px;
}
.info_box_date{
  padding:15px 25px 30px 0;
  border-bottom: 1px dashed #e3e3e3;
}
.info_box_date:last-child{
  border-bottom:none;
}
.box_select_inner{
   display: inline-block;
}
.info_date_for{
  padding: 30px 0;
}
  .info_date_for button{
    width: 235px;
    margin-left: 20px;
  }
  .info_date_for button:first-child{
    margin-left: 0;
  }
  .personal_select_box .jq-selectbox__select, .cart_tb .jq-selectbox__select, .cart_shipping_town .jq-selectbox__select{
    font-size: 14px;
    height: 40px;
    border: 1px solid #e9e9e9;
    margin-right: 7px;
    padding: 0 40px 0 0;
  }
  .cart_tb .jq-selectbox__select, .cart_shipping_town .jq-selectbox__select{
    margin-right: 0;
    padding: 0 40px 0 0;
  }
  .personal_select_box .jq-selectbox__select-text, .cart_tb .jq-selectbox__select-text, .cart_shipping_town .jq-selectbox__select-text{
    line-height: 40px;
    text-transform:none;
    padding-left: 10px;
  }
  .cart_tb .jq-selectbox__select-text, .cart_shipping_town .jq-selectbox__select-text{}
  .personal_select_box >.birth_select1{
      width: 40%;
  }
  .personal_select_box >.birth_select2{
      width: 25%;
  }
  .personal_select_box >.birth_select3{
      width: 30%;
  }
  .cart_tb .jq-selectbox__select-text{
    padding-right: 0;
   
  }
  .personal_select_box .jq-selectbox__trigger, .cart_tb .jq-selectbox__trigger, .cart_shipping_town .jq-selectbox__trigger{
    width: 40px;
    border-left:1px solid #e9e9e9;
  }
  
  .personal_select_box .jq-selectbox li, .cart_shipping_town .jq-selectbox li{
    text-transform: none;
  }
/*----account wish----------------------*/
.favorite_messadge_box{
  padding: 17px 0 30px;
  border-top: 1px dashed #e3e3e3;
  border-bottom: 1px dashed #e3e3e3;
  margin-bottom: 30px;
}
.add_wish_box{position: absolute;right: 0;top:0;}
.add_wish_btn, .clear_address_btn{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: transparent;

}

.wish_add_lk:hover, .enable_btn:hover{
    background-color: #f96161;
}
.add_wish_btn:after{
  content: "";
  display: inline-block;
  width: 4px;
  height: 12px;
  background: url(../images/icon/delimiter.png) 50% 50% no-repeat;
  position: relative;
  right:-5px;
  top:1px;
  margin-left: 8px;
}
.clear_address_btn:before{
  content:"";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url(../images/icon/clear.png) 50% 50% no-repeat;
  position: relative;
  left:-8px;
  top:2px;
  margin-left: 8px;
}
.add_wish_bl h4{line-height: 24px;}
.favorite_messadge_box h6{
  line-height: 2;
}
.wish_list_counter{
  display: inline-block;
  color: #f7ab18;
  font-size: 22px;
  line-height: 24px;
  margin-left: 5px;
}
.wish_list_box{
  margin: 0 -10px 0 -10px;
}
  .add_wish_list{
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    z-index: 2;
  }
    .wish_list_box .product_item{
      width: 235px;
      min-height: 365px;
      margin: 10px;
      border: 1px solid #e9e5d0;
      padding: 15px 12px;
    }
    .wish_list_box .product_img{
      height: 190px;
      line-height: 190px;
      overflow: hidden;
    }
    .wish_clear_lk{
      width: 49px;
      height: 49px;
      border-top:1px solid #e9e5d0;
      background: url(../images/icon/cloused_red.png) 50% 50% no-repeat;
      cursor: pointer;
    }
/*--------account subscription---------------*/
[class*="account_sub_"]{
  position: relative;
  width: 80%;
  float: left;
}
  [class*="account_sub_"] span{
    position: absolute;
    display: inline-block;
    top:5px;
    right:0;
  }
  .account_sub_disable span:before, .account_sub_enable span:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
  }
  .account_sub_disable span:before{
     background-color: #ea4040;
  }
  .account_sub_enable span:before{
    background-color: #9e9691;
  }
.account_sub{
  position: relative;
  border-bottom: 1px dashed #e3e3e3;
  padding-top: 26px;
}
.account_sub button{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top:50%;
  right:0;
  padding: 14px 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -20px;
  line-height:1.75;
}
/*------------myaccount------------------*/
[class*="myaccount_box"], .youcan_box{
  border-bottom:1px dashed #e3e3e3;
  padding: 0 0 30px 75px;
  margin-bottom: 30px;
}
.youcan_box{
  padding: 0 0 30px 0;
}
.myaccount_box_1{
  background: url(../images/icon/myaccount_user.png) 0 0 no-repeat;
}
.myaccount_box_2{
  background: url(../images/icon/myaccount_list.png) 0 0 no-repeat;
}
[class*="myaccount_box"] a{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  padding: 14px 0;
  width: 200px;
  text-align: center;
}
[class*="myaccount_box"] .comlete_btn{
  padding: 12px 0;
}
  [class*="youcan_lk_"]{
    display: inline-block;
    width: 25%;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    margin-left: -3px;
    padding: 0 20px;
  }
    [class*="youcan_lk_"]:before{
      content: "";
      width: 80px;
      height: 80px;
      display: block;
      border-radius: 50%;
      background-size: 50%;
      position: relative;
      left: 50%;
      margin-left: -40px;
      margin-bottom: 15px;
    }
    [class*="youcan_lk_"]:hover:before{
        background-color: #f96161;
    }
.myaccount_title{
  font-weight: 400;
  margin-bottom: 26px;
}
.youcan_lk_view:before{
  background: url(../images/icon/promo_white.png) 50% 50% #ea4040 no-repeat;
}

.youcan_lk_find:before{
  background: url(../images/icon/search_registre.png) 50% 50% #ea4040 no-repeat;
}

.youcan_lk_save:before{
  background: url(../images/icon/heart_registre2.png) 50% 50% #ea4040 no-repeat;
}
.youcan_lk_go:before{
  background: url(../images/icon/basket_register.png) 50% 50% #ea4040 no-repeat;
}
/*--------------------popups------------------*/
#congratulations, #aftersocial{
  width: 745px;

}
.congratulations_box{
  position: relative;
}
.congratulations_box_left, .register_box_left{
  background-color: #fff;
  float: left;
}
.congratulations_box_left{
  width: 60%;
}

.register_box_left{
  width: 66%;

}
.congratulations_box_right, .register_box_right{
  background-color: #ea4040;
  padding: 58px 25px 0;
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
}
.congratulations_box_right{
    width: 40%;
}
.register_box_right{
  width: 34%;
  padding: 84px 24px 0;
}
.congratulations_box_right a{
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 35px;
  margin-bottom: 40px;
}
.congratulations_promo_lk{
  background: url(../images/icon/promo_white.png) 0 3px no-repeat;
}
.congratulations_search{
  background: url(../images/icon/search_registre.png) 0 3px no-repeat;
}
.congratulations_wish{
  background: url(../images/icon/heart_registre2.png) 0 3px no-repeat;
}
.congratulations_basket{
  background: url(../images/icon/basket_register.png) 0 3px no-repeat;
}

.fill_box a, .fill_ready_box a{
  padding: 25px 0;
  display: block;
}
.fill_box a:hover, .fill_ready_box a:hover{
  text-decoration: underline;
}
.congratulations_box_inner{
  padding: 26px 45px 5px;
}
.congratulations_box .arcticmodal-close{
  width: 40px;
  height: 40px;
  background: url(../images/icon/cloused_red.png) 50% 50% no-repeat #fff;
}
#thanks{
  width: 750px;
}
#thanks .login_btn{
  margin-bottom: 0;
  width: 48%;
}
.comlete_btn{
  border-top:2px dashed #e9e5d0!important;
  border-bottom:2px dashed #e9e5d0!important;
  border-right:2px dashed #e9e5d0!important;
  padding: 12px 0;
  width: 196px;
  text-align: center;
  margin-left: -3px;
  font-weight: 700;
  color: #ea4040;
  text-transform: uppercase;
}
.comlete_btn:hover{
  border-top:2px dashed #cbcbcb!important;
  border-bottom:2px dashed #cbcbcb!important;
  border-right:2px dashed #cbcbcb!important;
}
.thanks_box, .cong_box{
  padding: 20px 30px 34px;
  text-align: center;
}
.thanks_box h3:before{
  content: "";
  display:inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  background: url(../images/icon/check.png) 0 0 no-repeat;
  top:8px;
  left:-10px;
}
.thanks_box_btn{
  margin-bottom: 26px;
}
#aftersocial .login_btn{
  width: 80%;
}
[class*="register_lk_"]{
  display: block;
  padding-top: 66px;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}
#register{width: 682px;}
#register .p10{
  margin-bottom: 10px;
}
#aftersocial input[type="text"]{color: #27221f;}
#aftersocial .p37{margin-bottom: 37px;}
#aftersocial .p15{margin-bottom: 15px;}
.register_lk_promo{
  background: url(../images/icon/discounts.png) 50% 16px no-repeat;
}
.register_lk_wish{
   background: url(../images/icon/heart_registre.png) 50% 16px no-repeat;
}
.register_lk_chatting{
  background: url(../images/icon/chatting.png) 50% 16px no-repeat;
}
.register_box_right h5{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.email_box{
  padding: 20px 45px 60px;
}
#billing, #shipping{
  width: 570px;
  background-color: #fff;
  position: relative;
}
#billing .login_btn, .great_box_type button{
  width: 100%;
  margin-bottom: 15px;
}
#shipping .great_box{
  padding: 30px 40px;
}
.great_box_inner{
  width: 236px;
  display: inline-block;
}
.great_box_type{
  direction: block;
  width: 236px;
  text-align: center;
  margin-left: 17px;

}
.great_box_type:first-child{
  margin-left: 0;
}
.bags_user_text{
  display: none;
  padding: 9px 10px;
  color: #fff;
  text-align: left;
  background: url(../images/icon/attention.png) 96% 7px no-repeat #ea4040;
  position: relative;
}
.bags_user_text:after{
  content: "";
  position:absolute;
  display: block;
  top:-11px;
  right:20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 5px solid #ea4040;
}
.invalid .bags_user_text{
  display: block;
}
.invalid input[type="text"]{
  border-top:1px solid #ea4040;
  border-right:1px solid #ea4040;
  border-left:1px solid #ea4040;
}
/*-------cart------------------------*/
.cart_bl{
  padding: 26px 0;
}
.cart_top{
  border-bottom:1px dashed #e3e3e3;
}
.cart_tb{
  table-layout: fixed;
  border-spacing:0 18px;
  border-collapse:separate;
  position: relative;
}
.cart_top_box{
  padding: 18px 0 0 0;
}
.cart_top_box .popular_lk{
  margin: 0 0 7px 0;
}
.cart_tb th{
  color: #c5bcb7;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}
.cart_tb th.col1, .cart_tb td.col1{
  width: 179px;
}
.cart_tb th.col2, .cart_tb td.col2{
  width: 38.3%;
}
.cart_tb th.col3{
  width: 15%;
}
.cart_tb th.col4{
  width: 13%;
}
.cart_tb th.col5{
  width: 10%;
}
.cart_tb th.col6{
  width:52px;
}
  
.cart_tb tr.first{
  border:none;
}
.cart_tb td{
    padding: 25px 30px 30px 0;
    border-top:1px solid #e9e5d0;
    border-bottom:1px solid #e9e5d0;
}
.cart_tb td.col1{
  border-right:1px solid #e9e5d0;
  border-left:1px solid #e9e5d0;
  vertical-align: middle;
  padding:1px 0;
  text-align: center;
}

.cart_tb td.col3{
  padding-right: 70px;
}
.cart_tb td.last_col{
  border-left:1px dashed #e9e5d0;
  border-right:1px solid #e9e5d0;
  vertical-align: middle;
  text-align: center;
  background: url(../images/icon/cart_cloused.png) 50% 50% no-repeat;
  cursor: pointer;
}
.cart_tb td.last_col:hover{
  background: url(../images/icon/add_account_cloused.png) 50% 50% no-repeat;
}
.cart_tb label{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
.cart_name{
  padding-left: 30px;
  float: left;
}
.cart_name h5{
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
}

.cart_name_select{
  width: 140px;
  display: inline-block;
}
.delivery_invalid{
  position: relative;
}
.cart_tb .delivery_invalid .cart_messadge{
  margin-left: -50px;
}
.delivery_invalid .cart_messadge{
  display:block;
  position: absolute;
  top:75%;
  left:0;
  background: url(../images/icon/attention.png)0 0 no-repeat;
  padding-left: 25px;
  width: 420px;
  letter-spacing: -0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.cart_messadge{
  display: none;
}
.delivery_invalid .cart_messadge a{
  padding-left: 3px;
}
.cart_color_select{
  width: 80px;
  display: inline-block;
  margin-left: 6px;
}
.cart_info{
  width: 39.6%;
}
.cart_info_total{
  width: 58.5%;
  border:1px solid #e9e5d0;
}
[class*="cart_info_item"]{
  display:block;
  height: 116px;
  padding-left:100px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  border:1px solid transparent;

  position: relative;
  font-family: 'Roboto', sans-serif;
}
[class*="cart_info_item"] > span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding-left:100px;
}
.cart_info_total .checkout_red:after{
  left:78%;
}
.cart_info_security{
  padding:12px 10px;
}
.cart_info_total_to .checkout_red a{
  padding:29px 40px;
}
.cart_info_total_sum{
  height: 150px;
  border-top:1px solid #e9e5d0;
}
.cart_info_total_sum > div{
  line-height: 150px;
  text-align: center;
}
.cart_info_total_sum > div > span{
  font-size: 18px;
  font-weight: 500;
}
.cart_total_sum{
  border-left:1px solid #e9e5d0;
  border-bottom:1px solid #e9e5d0;
}
.info_total_discount, .info_total_sum{
  font-size: 24px;
}
.cart_info_total_shipping{
  padding: 20px 30px;
}
.delivery_invalid.cart_info_total_shipping{
  padding: 20px 30px 52px;
}
.delivery_invalid.cart_info_total_shipping .cart_messadge{
  left:30px;
  top:76px;
}
.cart_shipping_free, .cart_shipping_free span{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
.cart_shipping_town{
  width: 53.54%;
  padding: 0 6px 0 12px;
}
.cart_shipping_term span:first-child{
  font-size: 18px;
}
.cart_shipping_term a.red{
  font-weight: 600;
  line-height: 18px;
  border-bottom: 1px dashed #ea4040;
}
.cart_shipping_term a.red:hover{
  border-bottom: 1px dashed transparent;
}
.cart_info_item_learn{
  background: url(../images/icon/learn.png) 20px 18px no-repeat;
}
.cart_info_item_discount{
  background: url(../images/icon/discount_hover.png) 18px 26px no-repeat;
   border:1px dashed #e4dfc7;
   position: relative;
}

  .cart_info_item_discount:after{
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    border-bottom: 1px dashed #e9e5d0;
    position:absolute;
    top:50%;
    right:-20px;
  }


.cart_info_item_question{
  background: url(../images/icon/question.png) 20px 25px no-repeat;
}
.cart_tb .jq-selectbox li{
  text-transform: none;
}
.number .jq-selectbox__select-text{
  padding-left: 0;
  text-align: center;
}
/*---------ordering--------------------*/
.ordering_top{
  padding-bottom: 18px;
  border-bottom: 1px dashed #e3e3e3;
}
.ordering_box h3{
  text-transform: none;
}
[class*="ordering_box_step"]{
  padding:25px 0 0;
}
[class*="ordering_box_step"] h3{
  text-transform: none;
}
.ordering_box{
  padding:25px 0 0 27px;
  float: right;
  width: 61.6%;
  position: relative;
}
[class*="ordering_box_step"]{
  padding-right: 25px;
  border-right: 1px dashed #e3e3e3;
  float: left;
  width: 38.4%;
}

.ordering_step1_messadge{
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  padding-left: 40px;
  line-height: 30px;
  background: url(../images/icon/success.png) 0 0 no-repeat;
}

.success .ordering_step1_messadge{
  opacity: 1;
  visibility: visible;
  margin-bottom: 19px;
}
.cart_quantity_select{
  width: 140px;
  display: inline-block;
  margin-left: 16px;
}
.cart_quantity_select > div{
  width: 80px;
}
.ordering_sum{
  margin-top: 23px;
}

.w47{
  width: 47%;
}
.ordering_sum_sp{
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}
  .ordering_sum_sp > span{
    display: inline-block;
    padding-left: 8px;
  }
.ordering_sum_sp .new_price, .ordering_sum_sp .total_price{
  padding-left: 8px;
}
.ordering_box .cart_tb td.col2{
  width: 61.2%;
}
.ordering_box .cart_tb td.col3{
  width: 50px;
}
.ordering_box .cart_tb td{
  padding: 25px 30px 25px 0;
}
.ordering_box .cart_tb td.col1{
  padding: 1px 0;
}
.total_price_title{
  position: absolute;
  top:28px;
  right:0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
}
.total_price_title > span{
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding-left: 8px;
}


[class*="ordering_box_step"] label{
  font-weight: 600;
  text-transform: uppercase;
  color: #342923;
  margin-top: -8px;
  margin-bottom: 15px;
  display: inline-block;
}
.ordering_pg{
  position: relative;
}
.ordering_pg_list{
  position: absolute;
  top:10px;
  right:0;
  overflow: hidden;
}
.ordering_pg_list li{
  float: left;
  width: 10px;
  height: 10px;
  background-color: #e9e5d0;
  border-radius: 50%;
  margin-left: 8px;
}
.ordering_pg_list li.active{
  background-color: #ea4040;
}
.ordering_send{
  padding-bottom: 30px;
  border-bottom: 1px dashed #e3e3e3;
  margin-right: -25px;
  padding-right: 25px;
}
  .ordering_send .get_btn{
    width: 47.5%;
    padding: 14px 0;
    position: relative;
    margin-top: 0;
  }
.ordering_box_step3 .get_btn:after{
  display: none;
}
.ordering_send .get_btn:after {
    content: "";
    position: absolute;
    left: 80%;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: url(../images/icon/arrow_big.png) 0 0 no-repeat;
}
.ordering_info{
  padding: 35px 0;
  margin-right: -25px;
}

.back_btn{
  text-transform: uppercase;
  padding: 14px 20px;
  background: url(../images/icon/back.png) 0 50% no-repeat;
  
}
.ordering_free_ship{
  margin-top: -7px;
  margin-bottom: 14px;
}
.ordering_add_box{margin-bottom: 20px;}
.ordering_box_step2 .get_btn{
  width: 47%;
}
.ordering_box_step2 .get_btn:after{
  left:80%;
}
.ordering_sh a{
  display: none;
}
.ordering_sh{
  position: relative;
}
  
  .select_address .ordering_sh a{
    display: inline-block;
    position: absolute;
    right:0;
    top:0;
  
  }
  .order_select_address_lk{
    padding-right: 10px;
    background: url(../images/icon/arrow_red.png) right 50% no-repeat;
  }
  .ordering_sh .add_address_btn{
    padding-right: 20px;
    background:url(../images/icon/add_account.png) right 50% no-repeat;
    text-transform: none;
  }
    .ordering_sh .add_address_btn:before{
      display: none;
    }
.ordering_payment_item img{
  margin: 0 6px;
}
.payment_data_box{
  background-color: #f8f8f8;
  border:1px solid #e3e3e3;
  margin-bottom: 14px;
}
.payment_data_box > div:first-child{
  border-bottom: 1px dashed #e3e3e3;
}
.payment_data_box > div{
  padding: 10px 20px 16px;
}
.payment_data_item{
  float: left;
  width: 33.3%;
}
.ordering_payment_item{
  padding-bottom: 11px;
}
.payment_data_box h6{
  text-transform: none;
}
.order_mark_box{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  height: 40px;
}
.order_link_mark{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid #e3e3e3;
  background: url(../images/icon/mark.png) 50% 50%;
  position: absolute;
  right:6px;
  top:8px;
  cursor: pointer;
}
.order_link_mark:hover + .promt{
  visibility: visible;
  opacity:1;
  -moz-transform: translateX(0px) translateY(0);
  -webkit-transform: translateX(0px) translateY(0);
  -o-transform: translateX(0px) translateY(0);
  -ms-transform: translateX(0px) translateY(0);
  transform: translateX(0px) translateY(0);
}
.promt{
  right:30px;
}
/*-----------------after ordering------------------------*/
.ordering_bl{
    border-bottom: 1px dashed #e3e3e3;
}
  .ordering_rg, .ordering_can{

    border-left: 1px dashed #e3e3e3;
  }
  .ordering_rg{
    padding: 50px 80px 50px 48px;
  }
  .ordering_can{
    padding: 26px 60px 10px 50px;
    border-right: 1px dashed #e3e3e3;
    text-align: center;
  }
    .ordering_can .title2{
      text-transform: none;
      margin-bottom: 22px;
      display: block;
    }
    .ordering_can [class*="youcan_lk_"]{
      width: 50%;
      padding: 0 20px;
      margin-bottom: 14px;
    }
      .ordering_can [class*="youcan_lk_"]:before{
        margin-bottom: 12px;
      }
  #password_for input[type="password"]{
    margin-bottom: 30px;
  }
  #password_for .login_btn{
    width: 56%;
    padding: 15px 0;
    font-size: 14px;
  }
  .purch_span{padding: 0 40px;}
.made_ordering_bl{
  padding: 20px 0 60px;
}
  .made_ordering{
    border:1px solid #e3e3e3;
    position: relative;
  }
  .made_ordering_box .cart_tb{
    margin-top:-10px;
  }
  .made_ordering_title span{
    padding-left: 35px;
    background: url(../images/icon/horn.png) 0 0 no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }
 
  .made_ordering_box{
    padding: 13px 17px 0;
  }
    .made_ordering_box .cart_tb td{
      background-color: #fff;
      padding: 25px 30px 25px 0;
    }
    .made_ordering_box .cart_tb td.col1{
      padding: 1px 0;
    }
    .made_ordering_box .cart_tb td.col3{
      padding-right: 20px;
      border-right:1px solid #e9e5d0;
      vertical-align: bottom;
    }

  #ordering_top_tb{
    width: 100%;
  }
  #ordering_top_tb tr:nth-child(odd){
    background-color: #fff;
  }
  #ordering_top_tb tr{
     border-bottom:1px dashed #e3e3e3;
  }
    #ordering_top_tb td{
      width: 25%;
      padding: 14px 17px;
      border-right:1px dashed #e3e3e3;
    }

.made_ordering_box .cart_td td{
  padding: 20px 30px 20px 0;
}
.made_ordering_box .ordering_sum{
  margin-top: 50px;
}
.cart_top_box span.red{font-size: 18px;line-height: 20px;}
.fs_16{font-size: 16px;}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p0{margin-bottom: 0!important;}
.p4{margin-bottom: 4px;}
.p8{margin-bottom: 8px;}
.p10{margin-bottom: 10px;}
.p12{ margin-bottom:12px;}
.p14{ margin-bottom:14px;}
.p15{ margin-bottom:15px;}
.p20{ margin-bottom:20px;}
.p23{ margin-bottom:23px;}
.p24{ margin-bottom:24px;}
.p25{margin-bottom: 25px;}
.p40{ margin-bottom:40px;}
.p30{ margin-bottom:30px;}
.p37{margin-bottom: 37px;}
.p44{margin-bottom: 44px;}



/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}


/*=====================> Titles ========================*/
h2, h3, h4, h5, h6{
  font-weight:normal;
}
h1{
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.title1{
  font-size:20px;
  line-height:1.2;
  font-weight: 500;
  color:#27221f;
  font-family: 'Roboto', sans-serif;
}
.title2{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.title3{
  font-size:16px;
  line-height:22px;
}
.title4{
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.title5{
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.title6{
  font-size: 14px;
  line-height: 2.5;
  text-transform: uppercase;
  font-weight: bold;
}




.title1, .title2, .title3, .title4, .title5, .title6{display: block;}

.t_ind{ margin-bottom:15px;}
.t_ind1{ margin-bottom:27px;}
.t_ind2{ margin-bottom:30px;}
.t_ind3{ margin-bottom:24px;}
.t_ind4{ margin-bottom:17px;}
.t_ind5{ margin-bottom:25px;}
.t_ind6{ margin-bottom:20px;}
.t_ind7{ margin-bottom:12px;}
.t_ind8{ margin-bottom:38px;}
.t_ind9{ margin-bottom:10px;}
.t_ind10{ margin-bottom:4px;}
.t_ind11{ margin-bottom:8px;}

/*================================>> GOOGLE FONTS  <<========================================*/
.roboto{font-family: 'Roboto', sans-serif;}


/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}





/*================================>> Contacts Info <<========================================*/


/*================================>> Footer <<========================================*/
footer {
  position: relative;
  padding:46px 0;
  background-color: #342923;
}
footer h2{
  font-weight: 400;
}
.footer_bg{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  background: url(../images/bg_footer.png) 50% 50px no-repeat;
  
}
.categories_footer_resp{
  display: none;
}
.footer_list_30{
  padding-left: 30px;
}
.footer_list_56{
  padding-left: 56px;
}
.footer_list_50{
  padding-left: 50px;
}
.w49{width: 49%;}
.w44{width: 44%;}
.w54{width: 54%;}
  .categories_footer_bl{
    padding-bottom: 34px;
    border-bottom: 1px solid #4e423b;
  }

    .categories_footer_lk{
      color: #c8bbb4;
      line-height: 26px;
    }
    .categories_footer_lk:hover{
      text-decoration: underline;
    }
    .categories_footer_bl h6{
      color: #f7ab18;
      line-height: 26px;
      font-weight: 400;
      text-transform: none;
    }
  .footer_bottom{
    padding-top: 48px;
  }
    .footer_follow_box{
      margin-bottom: 5px;
    }

      .footer_follow_box div{
        margin-bottom: 10px;
      }
    .footer_follow{
      width: 28.5%;
    }
    .footer_follow_resp{
      display: none;
    }
    .footer_pages{
      width: 21.1%;
      margin-left: 30px;
    }
    .footer_ship{
      width: 19%;
      margin-left: 30px;
    }
    .footer_pay{
      width: 220px;
      margin-left: 30px;
    }
    .followus_title{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height:1.6;
      margin-bottom: 12px;
    }
    .followus_box{
      padding-bottom: 12px;
    }
      .followus_box a{
        display: block;
        float: left;
        margin-right:1px;
        width: 31px;
        height:31px;
        background-color:#61544c;
      }
      .followus_box a:hover{
        background-color: #837268;
      }
      .footer_contacts{
        padding-bottom: 20px;
        line-height: 24px;
        color: #fff;
      }
      .copyright{
        color: #6b615b;
      }
  .f_shipping{
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .footer_security_bl{
    padding-top: 35px;
  }
  .footer_logo{
    margin-top: -10px;
    margin-bottom:16px;
  }
    .footer_logo a {
      display: block;
      width: 212px;
      height: 40px;
      background: url(../images/footer_logo.png) 50% 50% no-repeat;
    }
  [class*="footer_adv"]{
    color: #fff;
    font-size: 13px;
    line-height:1.5;
    padding-left: 38px;
    display: block;
    min-height: 36px;
  }
  .footer_adv1{
      background: url(../images/icon/footer_car.png) 0 5px no-repeat;
  }
  .footer_adv2{
      background: url(../images/icon/100.png) 0 5px no-repeat;
  }
  .footer_adv3{
      background: url(../images/icon/s.png) 0 5px no-repeat;
  }


img.blur_slide{
  height: auto !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  height: 200%;
  width: 200% !important;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1 !important;
   filter: blur(5px);
  -webkit-filter: blur(5px);
  max-height: inherit !important;
}

.slides li{
  overflow: hidden;
  position: relative;
}

.slides li img{
  z-index: 10;
  margin: 0 auto;
  position: relative;
  max-height: 100%;
}

.flexslider .slides_img{
  text-align: center;
  height: 395px;
  line-height: 395px;
  margin-top: -3px;
}
.slides_img .video_big_abs{
  background:none;
}


