.catalog_header .headertop{
	position: relative;
	z-index: 999;
}
.catalog_header .menu_item_show{
	z-index: 999;
}
.catalog_header .headermiddle{
	-webkit-box-shadow: 0 2px 4px 0 #e0e0e0;
	        box-shadow: 0 2px 4px 0 #e0e0e0;
}
.catalog_written_txt{
	border-bottom: 1px dashed #e3e3e3;
	padding-bottom: 16px;
}
.catalog_written_txt .above:before, 
.catalog_written_txt .wt_above:before,
.visited_products_box .above:before{
	top: -10px;
}
.catalog_written_txt .above{
	margin-bottom: 18px;
}
	.written_text{
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -0.3px;
	}
		.button_style1{
			position: relative;
			color: #EA4040;
			font-size: 14px;
			line-height: 22px;
			display: inline-block;
			cursor: pointer;
			outline: none;
		}
			.button_style1:after{
				position: absolute;
				content: "";
				right: -10px;
				top: 8px;
				background: url(../images/icon/breadcrumb_arrow.png) 0 0 no-repeat;
				width: 5px;
				height: 8px;
			}
.filter_sort_lk{display: block;padding: 13px 46px 13px 25px;text-transform: uppercase;margin-left: -3px;}
.filter_sort_box{
    height: 48px;
    border-radius: 0px;
    background: #FFF;
    color: #27221f;
    border-right: 1px solid #e9e9e9;
    position: relative;
}
.filter_sort_lk.active:after{
    margin-top: -10px;
    border: 6px solid transparent;
    border-bottom: 6px solid #000;
}

.filter_sort_lk:after{
	content: "";
	position: absolute;
	top:50%;
	left: 68%;
	width: 0;
	height: 0;
	margin-top: -2px;
    border: 6px solid transparent;
    border-top: 6px solid #000;
}
.catalog_filter_main{
	margin-top: 40px;
	border-bottom: 1px solid #E9E9E9;
}

	.view_filter_btn{
		margin-bottom: 30px;
	}
		.view_filter_lk.more_lk{
			width: 100%;
			text-align: center;
			font-size: 14px;
			line-height: 18px;
			padding: 16px 10px;
			margin-left: 0;
		}
		
	
		.filter_list .filter_list_item:first-child{
			border-top: 1px solid #e9e9e9;
		}
			.filter_list_item{
				border-bottom: 1px solid #e9e9e9;
			}
				.filter_li_text, .filter_li_inner{
					font-size: 14px;
					line-height: 20px;
					padding: 13.5px 10px 13.5px 0;
					cursor: pointer;
					position: relative;
				}
				.filter_li_text{
					text-transform: uppercase;
				}
				
					.filter_li_text:after, .filter_li_inner:after{
						content: "";
						position: absolute;
						width: 6px;
						height: 12px;
						background: url(../images/icon/filter_arrow.png) 0 0 no-repeat;
						right: 0;
						top: 50%;
						margin-top: -6px;
						-webkit-transition: all 0.3s ease;
					    -moz-transition: all 0.3s ease;
					    -o-transition: all 0.3s ease;
					    transition: all 0.3s ease;
					}
					.filter_li_text.active:after, .filter_li_inner.active:after{
						-webkit-transform: rotate(90deg);
						   -moz-transform: rotate(90deg);
						    -ms-transform: rotate(90deg);
						     -o-transform: rotate(90deg);
						        transform: rotate(90deg);
					    webkit-transition: all 0.3s ease;
					    -moz-transition: all 0.3s ease;
					    -o-transition: all 0.3s ease;
					    transition: all 0.3s ease;
					}
				.filter_list2, .filter_list3{
					display: none;
				}
					.filter_list2_item{
						padding-left: 10px;
					}
						.filter_list3_item{
							padding-left: 20px;
						}
						.filter_list2_link, .filter_list3_link{
							display: block;
							padding: 9px 0;
							margin: 1px 0;
							color: #27221f;
						}
						.filter_list2_link:hover, .filter_list3_link:hover{
							color: #ea4040;
						}
	
		.filter_right_box_top{
			height: 50px;
			width: 100%;
			border: 1px solid #E9E9E9;
			margin-bottom: 30px;
			position: relative;
			z-index: 10;
		}
			.filter_right_select.one{
					width: 101px;
					border-right: 1px solid #e9e9e9;
				}
				.filter_right_select.second{
					width: 109px;
					border-right: 1px solid #e9e9e9;
				}
				.filter_right_select.third{
					width: 127px;
					border-right: 1px solid #e9e9e9;
				}
			.filter_right_box_2{
				font-size: 14px;
				line-height: 22px;
				color: #27221F;
				padding: 13px 15px 13px;
			}
				.filter_right_box_2 span{
					text-transform: uppercase;
				}
				.filter_right_box_2 a{
					color: #EA4040;
					font-weight: bold;
					display: inline-block;
					padding: 0 0 0 6px;
				}
				.filter_right_box_2 a:hover{
					color: #27221F;
				}
				.filter_right_box_2 a.active{
					color: #27221F;
					font-weight: normal;
				}
		.filter_done {
			margin: -10px -10px 20px -10px;
		}
			.filter_done .product_item{
				width: 235px;
				height: auto;
				min-height: 315px;
				border: 1px solid #EDEAD9;
				margin: 10px;
				padding: 15px 12px 15px 15px;
			}
			.hide{visibility: hidden;opacity: 0;}
			
			.filter_done .product_ticket{
				padding: 4px 0;
			}
			.filter_done .old_price{
				margin-right: 5px;
			}
			
			.filter_done .product_img{
				height: 200px;
				line-height: 200px;
				overflow: hidden;
				
				
			}
			
			.filter_done .product_name, .carousel_item_fg .product_name, .wish_list_box .product_name{
				bottom:0;
				position: relative;
				display: inline-block;
				width: 100%;
				vertical-align:-20px;
				line-height: 18px;
			
			}
			.filter_done .sale_off{
				position: relative;
				padding-left: 5px;
			}
			.filter_done .sale_off:before{
				height: 11px;
				position: absolute;
				content: "";
				width: 1px;
				background-color: #27221F;
				left: 0;
				top: 4px;
			}
			.filter_done .product_img img, .wish_list_box .product_img img{
				vertical-align: middle;
				display: inline-block;
				width: 100%;
			}
			.filter_done .product_add_lk{
				width: calc(100% - 50px);
			}

.pagination_box{
	margin-bottom: 30px;
}
	.pagination_box_item{
		margin-right: 5px;
		float: left;
	}
		.pagination_box_link{
			height: 30px;
			display: inline-block;
			text-align: center;
			width: 30px;
			border: 1px solid #e9e9e9;
			color: #27221F;
			background-color: #FFF;
			font-size: 14px;
			line-height: 28px;
		}
		.pagination_box_link:hover,
		.pagination_box_link.active{
			background-color: #EA4040 !important;
			color: #fff;
			border: 1px solid #EA4040;
		}
		.pagination_box .pagination_box_item:last-child .pagination_box_link{
			background: url(../images/icon/pagination_arr.png) 50% 50% no-repeat;
		}

.visited_products_main{
	padding-top: 42px;
	border-bottom: 1px dashed #e9e9e9;
}
	.visited_products_box{
		padding-top: 8px;
		padding-bottom: 40px;
	}
	.carousel_top_buttons .owl-prev, 
	.carousel_top_buttons .owl-next{
		width: 30px;
		height: 30px;
		position: static;
		display: inline-block;
		border: 1px solid #e9e9e9;
		margin-top: 0;
		-webkit-transition: all 0.5s;
		   -moz-transition: all 0.5s;
		    -ms-transition: all 0.5s;
		     -o-transition: all 0.5s;
		        transition: all 0.5s;
	}
	.carousel_top_buttons .owl-prev {
	    background: url(../images/icon/arrow_left.png) 50% 50% no-repeat;
	    margin-right: 5px;
	}
	.carousel_top_buttons .owl-prev:hover {
	    background: url(../images/icon/arrow_left_hover.png) 50% 50% no-repeat #ea4040;
	}
	.carousel_top_buttons .owl-next {
	    background: url(../images/icon/arrow_right.png) 50% 50% no-repeat;
	}
	.carousel_top_buttons .owl-next:hover {
	    background: url(../images/icon/arrow_right_hover.png) 50% 50% no-repeat #ea4040;
	}
	.carousel_top_buttons .owl-controls{
		position: static;
	}
	.carousel_top_buttons .owl-buttons{
		top: -52px;
		position: absolute;
		right: 10px;
	}	
	.carousel_top_buttons .owl-pagination{
		display: none;
	}

.after_carousel_text{
	padding-top: 34px;
	padding-bottom: 76px;
}
	.after__text_item{
		letter-spacing: -0.2px;
	}
.spoiler{display: none;}
.active.spoiler{display: block;}
/*==============>breadcrumbs================*/
.breadcrumbs_section{
    padding-bottom: 28px;
}
    .breadcrumbs{
        display: block;
        list-style: none;
        margin-top: 27px;
    }
        .breadcrumbs_it{
            position: relative;
            float: left;
            margin-right: 5px;
            padding-right: 9px;
        }
        .breadcrumbs_it:before{
            display: block;
            position: absolute;
            right: 0;
            top: 5px;
            content: "";
            background: url(../images/icon/breadcrumb_arrow.png) 0 0 no-repeat;
            width: 5px;
            height: 8px;
        }
        .breadcrumbs .breadcrumbs_it:last-child:before{
            display: none;
        }
            .breadcrumbs_it a .breadcrumbs_current{
                text-decoration: none;
                color: #ea4040;
            }
            .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
            .breadcrumbs_it a:hover .breadcrumbs_current{
                text-decoration: underline;
            }
            	.breadcrumbs_it .breadcrumbs_current{
                    font-size: 14px;
                    line-height: 18px;
                    color: #27221f;
                }
/*==============>breadcrumbs end================*/